<div class="hbses">
<div class="row" style="padding-top: 40px !important; color: var(--c1) !important">



    <div class="col-lg-3" style="margin-left: 200px; padding-left: 0px !important; height:100%;"><p style="color:#023047; font-size:30px;">Acceptance Ready</p>
         {{#each acceptanceReadyStories as |story|}}
        <div class="card projekt-notification2 col-10" >
            <div class="card-body">
                <button id = "modal" data-toggle="modal" data-subtasks="{{json story.subtasks}}" data-target="#exampleModal{{story._id}}" style="background-color:Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden0; outline:none; text-align:left;">
                    <b style="color:#023047; font-size:20px;">User Story: </b>
                    <br>
                    <b style="color:white; font-size:20px;">{{story.name}}</b>
                    <br>
                    <br>
                    <!-- <small style="color:#023047;">Acceptance tests done:</small><span style="color:white;"> Yes</span><br> -->
                    <small style="color:#023047;">Priority:</small><span style="color:white;"> {{story.priority}}</span><br>
                    <small style="color:#023047;">Business value:</small><span style="color:white;"> {{story.businessValue}}</span><br>
                    <small style="color:#023047;">Size:</small><span style="color:white;"> {{story.size}}</span><br>
                    <br>
                  </button>
                    <button class="btn projekt-management-button btn-dark" style="background-color: #FB8500 !important; padding-top: 5px; margin-right:5px; float: left;" id = "accept1/{{story._id}}">
                     <a style="color:white;" href="/project/accept-story/{{../projectId}}/{{story._id}}">ACCEPT</a>
                    </button>                
                    <!-- <a href=" "  class="btn projekt-management-button btn-dark"
                    style="background-color: #FF3C38 !important; padding-top: 10px" id = "decline">DECLINE</a> -->


                    <button type="button" class="btn btn-dark decline-button" style="background-color: #FF3C38 !important; float: right;" id = "decline1/{{story._id}}">
                    DECLINE</button>
                    <br>
                    <br>                    
                    <h2></h2>
                    <br>
                    <b style="color:white; font-size:20px; display:none;" id = "text1/{{story._id}}">Why will you decline this user story?</b>
                    <!-- <input type="hidden" class="form-control input-form" id="input">
                    <button hidden = "hidden" type="button" class="btn projekt-management-button btn-dark"
                     style="background-color: #FB8500 !important" id = 'submit'>SUBMIT</button> -->


                         <form id="posodobiUporabnika" method="post" style="" action="/project/decline-story/{{../projectId}}/{{story._id}}">
                             <input type="hidden" class="form-control input-form" name="comment" id="input1/{{story._id}}" type="text" >
                             <button hidden = "hidden" id = 'submit1/{{story._id}}' type="submit" class="btn projekt-management-button btn-dark">Submit</button>
                         </form>
            </div>
        </div>
         {{/each}}
         {{#each notFinishedStories as |story|}}
        <div class="card projekt-notification2 col-10" >
            <div class="card-body">
                <button id = "modal" data-toggle="modal" data-subtasks="{{json story.subtasks}}" data-target="#exampleModal{{story._id}}" style="background-color:Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden0; outline:none; text-align:left;">
                    <b style="color:#023047; font-size:20px;">User Story: </b>
                    <br>
                    <b style="color:white; font-size:20px;">{{story.name}}</b>
                    <br>
                    <b style="color:#023047; font-size:12px;">Not finished</b>
                    <br>
                    <br>
                    <!-- <small style="color:#023047;">Acceptance tests done:</small><span style="color:white;"> Yes</span><br> -->
                    <small style="color:#023047;">Priority:</small><span style="color:white;"> {{story.priority}}</span><br>
                    <small style="color:#023047;">Business value:</small><span style="color:white;"> {{story.businessValue}}</span><br>
                    <small style="color:#023047;">Size:</small><span style="color:white;"> {{story.size}}</span><br>
                    <br>
                  </button>

                    <button type="button" class="btn btn-dark decline-button" style="background-color: #FF3C38 !important; float: right;" id = "decline2/{{story._id}}">
                    DECLINE</button>
                    <br>
                    <br>
                    <br>
                    <h2></h2>
                    <b style="color:white; font-size:20px; display:none;" id = "text2/{{story._id}}">Why will you decline this user story?</b>
                    <!-- <input type="hidden" class="form-control input-form" id="input">
                    <button hidden = "hidden" type="button" class="btn projekt-management-button btn-dark"
                     style="background-color: #FB8500 !important" id = 'submit'>SUBMIT</button> -->


                         <form id="posodobiUporabnika" method="post" style="" action="/project/decline-story/{{../projectId}}/{{story._id}}">
                           <div class="mb-3" style="padding-bottom: 0px !important">
                             <input type="hidden" class="form-control input-form" name="comment" id="input2/{{story._id}}" type="text" >
                           </div>
                           <div style="padding-top: 0px !important">
                             <button hidden = "hidden" id = 'submit2/{{story._id}}' type="submit" class="btn projekt-management-button btn-dark">Submit</button>
                           </div>
                         </form>
            </div>
        </div>
         {{/each}}
    </div>

        <div class="col-lg-3" style="margin-left: 200px; padding-left: 0px !important; height:100%;"><p style="color:#023047; font-size:30px;">Done</p>
           {{#each doneStories as |story|}}
            <div class="card projekt-notification col-10">
              <div class="card-body">
                <button id="modal-btn/2"  style="background-color:Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden0; outline:none; text-align:left;">
                    <b style="color:#023047; font-size:20px;">User Story: </b>
                    <br>
                    <b style="color:white; font-size:20px;">{{story.name}}</b>
                    <br>
                    <br>
                    <!-- <small style="color:#023047;">Acceptance tests done:</small><span style="color:white;"> Yes</span><br> -->
                    <small style="color:#023047;">Priority</small><span style="color:white;"> {{story.priority}}</span><br>
                    <small style="color:#023047;">Business value:</small><span style="color:white;"> {{story.businessValue}}</span><br>
                    <small style="color:#023047;">Size:</small><span style="color:white;"> {{story.size}}</span><br>
                    <br>
                    </button>
              </div>
            </div>
             {{/each}}
      </div>






{{#each acceptanceReadyStories as |story|}}
<div class="modal fade" id="exampleModal{{story._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content1" style="background-color:#023047;">
      <div class="modal-header1" style="background-color:#023047;">
            <br>
            <p style="background-color:#023047; text-align:center; color:#8ECAE6;">USER STORY INFORMATION</p>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </div>

            <div class="modal-body" style="background-color:#023047;">
            <b style="color:white;" >   TASKS: </b>
            <div style="background-color:#023047;"></div>
            <!--ul style="color:#8ECAE6;">
               {{#each story.subtasks}}
                  <input type="checkbox"> <li>{{name}}</li> </input>
                {{/each}}
            </ul-->
            <ul style="color:#8ECAE6;">
            {{#each story.subtasks}}
            {{#if finished}}
            <input type="checkbox" id="{{name}}" checked="true">
            <label for="{{name}}">{{name}}</label><br>
            {{/if}}
            {{/each}}
            </ul>
            
            <br>
            <b style="color:white;">   ACCEPTANCE TESTING: </b>
            <div style="background-color:#023047;"></div>
              <ul style="color:#8ECAE6;">
                {{#each tests}}
                  <input type="checkbox" id="{{this}}">
                  <label for="{{this}}">{{this}}</label><br>
                {{/each}}  
              </ul>
            </div>

          </div>
          </div>
</div>
{{/each}}



{{#each notFinishedStories as |story|}}
<div class="modal fade" id="exampleModal{{story._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content1" style="background-color:#023047;">
      <div class="modal-header1" style="background-color:#023047;">
            <br>
            <p style="background-color:#023047; text-align:center; color:#8ECAE6;">USER STORY INFORMATION</p>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </div>

            <div class="modal-body" style="background-color:#023047;">
            <b style="color:white;" >   TASKS: </b>
            <div style="background-color:#023047;"></div>
            <!--ul style="color:#8ECAE6;">
               {{#each story.subtasks}}
                  <input type="checkbox"> <li>{{name}}</li> </input>
                {{/each}}
            </ul-->
            <ul style="color:#8ECAE6;">
            {{#each story.subtasks}}
            <input type="checkbox" id="{{name}}" checked="true">
            <label for="{{name}}">{{name}}</label><br>
            {{/each}}
            </ul>
            
            <br>
            <b style="color:white;">   ACCEPTANCE TESTING: </b>
            <div style="background-color:#023047;"></div>
              <ul style="color:#8ECAE6;">
                {{#each tests}}
                  <input type="checkbox" id="{{this}}">
                  <label for="{{this}}">{{this}}</label><br>
                {{/each}}  
              </ul>
            </div>

          </div>
          </div>
</div>
{{/each}}




</div>
</div>

<!--script>
          $("#exampleModal").on("click", function () {
            var subtasksString = '';
            let storySubtasks = $(this).data('subtasks');
            var arrayS = storySubtasks;
            for (j in arrayS) {
              var done = false;
              if(arrayS[j].finished == true){
                done = true;
              }
              if(done== true){
                subtasksString = subtasksString + '<div class="row" style="padding: 0px !important; height: 55px !important"><div class="col-lg-9"><label for="tasks" style="color: var(--c3) !important; padding-left: 15px !important"><input type="checkbox" name="tasks" id="tasks" aria-describedby="emailHelp"/ checked><span style="padding-left: 10px !important">';
              }
              //če še ni končana
              else{
                subtasksString = subtasksString + '<div class="row" style="padding: 0px !important; height: 55px !important"><div class="col-lg-9"><label for="tasks" style="color: var(--c3) !important; padding-left: 15px !important"><input type="checkbox" name="tasks" id="tasks" aria-describedby="emailHelp"/><span style="padding-left: 10px !important">';
              }
              // name of subtask
              subtasksString = subtasksString + arrayS[j].name + ' [' + arrayS[j].hours + 'h]' + '</span></label></div>';
            }
            $('#addnewSubtask1').html(subtasksString);
          })
</script-->



<!-- <script>
  const closeBtn = document.querySelector('.close');
  closeBtn.addEventListener('click', closeModal);
  function closeModal() {
    document.getElementById("my-modal").style.display = 'none';
    }

  $('button').on('click', function() {
    id1 = this.id;
    let result1 = id1.includes("1");
    let result2 = id1.includes("2");


    if (result1 == 1) {
       document.getElementById("my-modal").style.display= "block";
       document.getElementById("tekst").innerHTML = "JABOLKA";
      }

      if (result2 == 1) {
       document.getElementById("my-modal").style.display= "block";
       document.getElementById("tekst").innerHTML = "SPREMEMBA";
      }

    });
</script> -->

<!-- <script>
  $('button').on('click', function() {
    id1 = this.id;
    let result1 = id1.includes("accept");
    let result2 = id1.includes("decline");

    if(result1 == 1) {
      let btn = id1.replace("accept", "modal-btn");
      document.getElementById(btn).style.displa = "none";
    }

    if(result1 == 2) {
      let btn = id1.replace("decline", "modal-btn");
      document.getElementById(btn).style.displa = "none";
    }
</script> -->


<script>
$('button').on('click', function() {
                id1 = this.id;
                let result1 = id1.includes("accept1");
                let result2 = id1.includes("decline1");
                let result3 = id1.includes("submit1")
                let result4 = id1.includes("decline2")

                if (result1 == 1) {
                  let id_dec = id1.replace("accept1", "decline1");
                  document.getElementById(id_dec).disabled = true;
                  document.getElementById(id1).disabled = true;
                   }

                if (result2 == 1) {
                  let id_acep = id1.replace("decline1", "accept1");
                  let id_input = id1.replace("decline1", "input1");
                  let id_subm = id1.replace("decline1", "submit1");
                  let id_text = id1.replace("decline1","text1");
                  document.getElementById(id_acep).disabled = true;
                  document.getElementById(id_text).style.display = "";
                  document.getElementById(id1).disabled = true;
                  document.getElementById(id_input).type = "text";
                  document.getElementById(id_subm).hidden = "";
                  }

                  if(result3 == 1) {
                      let id_subm = id1.replace("submit1", "");
                      document.getElementById(id_subm).id = "submit1"
                      }


                   if (result4 == 1) {
                    let id_input = id1.replace("decline2", "input2");
                    let id_subm = id1.replace("decline2", "submit2");
                    let id_text = id1.replace("decline2","text2");
                    document.getElementById(id_text).style.display = "";
                    document.getElementById(id1).disabled = true;
                    document.getElementById(id_input).type = "text";
                    document.getElementById(id_subm).hidden = "";
                  }    
            });
</script>

<script>
$('#submit1').on('click', function() {
                id1 = this.id;
                let result3 = id1.includes("submit")

                  if(result3 == 1) {
                      let id_input = id1.replace("submit", "input");
                      document.getElementById(id1).disabled = true;
                      }
            });
</script>
