<div class="hbses">

  {{!-- modal window if task has been accepted --}}
  <div id="myModal43" class=" modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                  <div class="modal-content alert-s-200">
                  <div class="modal-header" style="background-color: var(--c5) !important">
                      <h5 class="modal-title">Success!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p>You accepted this story!</p>
                  </div>

                  </div>
              </div>
          </div>

  {{#if accepted}}
  <script>
      $(document).ready(function(){
          $("#myModal43").modal('show');

          setTimeout(function() {

              $('#myModal43').modal('hide');
          }, 7000);
      });
  </script>
  {{/if}}


  {{!-- modal window if task has been declined --}}
  <div id="myModal44" class=" modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                  <div class="modal-content alert-s-200">
                  <div class="modal-header" style="background-color: var(--c5) !important">
                      <h5 class="modal-title">Success!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p>You declined this story!</p>
                  </div>

                  </div>
              </div>
          </div>

  {{#if declined}}
  <script>
      $(document).ready(function(){
          $("#myModal44").modal('show');

          setTimeout(function() {

              $('#myModal44').modal('hide');
          }, 7000);
      });
  </script>
  {{/if}}



<div class="row" style="padding-top: 40px !important; color: var(--c1) !important">



<div class="col-lg-3" style="margin-left: 100px; padding-left: 0px !important; height:100%;"><p style="color:#023047; font-size:30px;">Unfinished</p>
           {{#each notFinishedStories as |story|}}
            <div class="card projekt-notification col-10">
              <div class="card-body">
                <button id = "modal-btn1{{story._id}}" data-toggle="modal" data-subtasks="{{json story.subtasks}}" data-target="#exampleModal{{story._id}}" style="background-color:Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden0; outline:none; text-align:left;">
                    <b style="color:#023047; font-size:20px;">User Story: </b>
                    <br>
                    <b style="color:white; font-size:20px;">{{story.name}}</b>
                    <br>
                    <b style="color:#023047; font-size:12px;">Not finished</b>
                    <br>
                    <br>
                    <small style="color:#023047;">Priority:</small><span style="color:white;"> {{story.priority}}</span><br>
                    <small style="color:#023047;">Business value:</small><span style="color:white;"> {{story.businessValue}}</span><br>
                    <small style="color:#023047;">Size:</small><span style="color:white;"> {{story.size}}</span><br>
                    <br>
                  </button>
                  <br>

                    <button type="button" class="btn btn-dark decline-button" style="background-color: #FF3C38 !important; float: right;" id = "decline2/{{story._id}}">
                    DECLINE</button>
                    <br>
                    <br>
                    <br>
                    <h2></h2>
                    <b style="color:white; font-size:20px; display:none;" id = "text2/{{story._id}}">Why will you decline this user story?</b>
                         <form id="posodobiUporabnika" method="post" style="" action="/project/decline-story/{{../projectId}}/{{story._id}}">
                           <div class="mb-3" style="padding-bottom: 0px !important">
                             <input type="hidden" class="form-control input-form" name="comment" id="input2/{{story._id}}" type="text" >
                           </div>
                           <div style="padding-top: 0px !important">
                             <button hidden = "hidden" id = 'submit2/{{story._id}}' type="submit" class="btn projekt-management-button btn-dark">Submit</button>
                           </div>
                         </form>
              </div>
            </div>
             {{/each}}
      </div>



    <div class="col-lg-3" style="margin-left: 20px; padding-left: 0px !important; height:100%;"><p style="color:#023047; font-size:30px;">Acceptance Ready</p>
         {{#each acceptanceReadyStories as |story|}}
        <div class="card projekt-notification2 col-10" >
            <div class="card-body">
                <button id = "modal-btn1{{story._id}}" data-toggle="modal" data-subtasks="{{json story.subtasks}}" data-target="#exampleModal{{story._id}}" style="background-color:Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden0; outline:none; text-align:left;">
                    <b style="color:#023047; font-size:20px;">User Story: </b>
                    <br>
                    <b style="color:white; font-size:20px;">{{story.name}}</b>
                    <br>
                    <br>
                    <small style="color:#023047;">Priority:</small><span style="color:white;"> {{story.priority}}</span><br>
                    <small style="color:#023047;">Business value:</small><span style="color:white;"> {{story.businessValue}}</span><br>
                    <small style="color:#023047;">Size:</small><span style="color:white;"> {{story.size}}</span><br>
                    <br>
                  </button>
                  <br>
                    <button class="btn projekt-management-button btn-dark" style="background-color: #FB8500 !important; padding-top: 5px; margin-right:5px; float: left;" id = "accept1/{{story._id}}">
                     <a style="color:white;" href="/project/accept-story/{{../projectId}}/{{story._id}}">ACCEPT</a>
                    </button>
                    <!-- <a href=" "  class="btn projekt-management-button btn-dark"
                    style="background-color: #FF3C38 !important; padding-top: 10px" id = "decline">DECLINE</a> -->


                    <button type="button" class="btn btn-dark decline-button" style="background-color: #FF3C38 !important; float: right;" id = "decline1/{{story._id}}">
                    DECLINE</button>

                    <br>
                    <br>
                    <!--button class="btn projekt-management-button btn-dark" style="background-color: #fb00c5 !important; padding-top: 5px; margin-right:5px; float: left;" id = "test12/{{story._id}}">
                    TEST ACCEPT</button>
                    <button class="btn projekt-management-button btn-dark" style="background-color: #000dfb !important; padding-top: 5px; margin-right:5px; float: right;" id = "test22/{{story._id}}">
                    TEST SUBMIT</button-->

                    <h2></h2>
                    <br>
                    <b style="color:white; font-size:20px; display:none;" id = "text1/{{story._id}}">Why will you decline this user story?</b>
                         <form id="posodobiUporabnika" method="post" style="" action="/project/decline-story/{{../projectId}}/{{story._id}}">
                             <input type="hidden" class="form-control input-form" name="comment" id="input1/{{story._id}}" type="text" >
                             <button hidden = "hidden" id = 'submit1/{{story._id}}' type="submit" class="btn projekt-management-button btn-dark">Submit</button>
                         </form>
            </div>
        </div>
         {{/each}}
    </div>




<div class="col-lg-3" style="margin-left: 100px; padding-left: 0px !important; height:100%;"><p style="color:#023047; font-size:30px;">Done</p>
           {{#each doneStories as |story|}}
            <div class="card projekt-notification3 col-10">
              <div class="card-body">
                <button id="modal-btn/2"  style="background-color:Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden0; outline:none; text-align:left;">
                    <b style="color:#023047; font-size:20px;">User Story: </b>
                    <b style="color:white; font-size:20px;">{{story.name}}</b>
                    <br>
                    <br>
                    <b style="color:#023047;">Finished in: </b>
                    <b style="color:white; font-size:15px;">Sprint {{story.sprint}}</b>
                    <br>
                    <br>
                    <!-- <small style="color:#023047;">Acceptance tests done:</small><span style="color:white;"> Yes</span><br> -->
                    <small style="color:#023047;">Priority</small><span style="color:white;"> {{story.priority}}</span><br>
                    <small style="color:#023047;">Business value:</small><span style="color:white;"> {{story.businessValue}}</span><br>
                    <small style="color:#023047;">Size:</small><span style="color:white;"> {{story.size}}</span><br>
                    <br>
                    </button>
              </div>
            </div>
             {{/each}}
</div>


    


{{#each acceptanceReadyStories as |story|}}

  <div id="my-modal{{story._id}}" class="modalacc">
    <div id = "1{{story._id}}" style="background-color:#023047; width:500px; height:500px; border-radius: 20px; margin-left: 40%; margin-top: 11%;">
      <div id = "2{{story._id}}" class="modal-body-acc" style="border-radius: 20px;">
        <button class="close1" id="close1{{story._id}}" style="border: none; background: none; outline: none;">&times;</button>
        <br>
        <p style="background-color:#023047; text-align:center; color:#8ECAE6;">USER STORY INFORMATION</p>

        <div class="modal-body" style="background-color:#023047;">
            <b style="color:white;" >   TASKS: </b>
            <div style="background-color:#023047;"></div>



            <ul>
              <input type="checkbox" id="noja" checked="true" disabled ="true" style="margin-right:25px;">
              <label for="noja" style="color:white;">All tasks were completed.</label>
            </ul>

            <!--ul style="color:#8ECAE6;">
            {{#each story.subtasks}}
            {{#if finished}}
            <ol start="1">
              <input type="checkbox" id="{{name}}" checked="true" disabled ="true" style="margin-right:25px;">
              <label for="{{name}}"><li>This task was finished.</li></label>
            </ol>
            {{else}}
            <ol start="1">
              <input type="checkbox" id="{{name}}" disabled ="true" style="margin-right:25px;">
              <label for="{{name}}"><li>This task was finished.</li></label>
            </ol>
            {{/if}}
            {{/each}}
            </ul-->

            <br>
            <b style="color:white;">   ACCEPTANCE TESTING: </b>
            <div style="background-color:#023047;"></div>
              <ul style="color:#8ECAE6;">
                  <ol>
                    {{#each tests}}
                    <li>
                      {{this}}
                    </li>
                    {{/each}}
                  </ol>
              </ul>
            </div>


        </ul>
      </div>
    </div>
  </div>


{{/each}}



{{#each notFinishedStories as |story|}}
  <div id="my-modal{{story._id}}" class="modalacc">
    <div id = "1{{story._id}}" style="background-color:#023047; width:500px; height:500px; border-radius: 20px; margin-left: 40%; margin-top: 11%;">
      <div id = "2{{story._id}}" class="modal-body-acc" style="border-radius: 20px;">
        <button class="close1" id="close1{{story._id}}" style="border: none; background: none; outline: none;">&times;</button>
        <br>
        <p style="background-color:#023047; text-align:center; color:#8ECAE6;">USER STORY INFORMATION</p>

        <div class="modal-body" style="background-color:#023047;">
            <b style="color:white;" >   TASKS: </b>
            <div style="background-color:#023047;"></div>
            <ul style="color:#8ECAE6;">
            <ol start="1">
              {{#each story.subtasks}}
              {{#if finished}}
              <input type="checkbox" id="{{name}}" checked="true" disabled ="true" style="margin-right:25px;">
              <label for="{{name}}"><li>This task was finished.</li></label>
              {{else}}
              <input type="checkbox" id="{{name}}" disabled ="true" style="margin-right:25px;">
              <label for="{{name}}"><li>This task was not finished.</li></label>
              {{/if}}
              {{/each}}
            </ol>
            </ul>
            <br>
            <b style="color:white;">   ACCEPTANCE TESTING: </b>
            <div style="background-color:#023047;"></div>
            <ul style="color:#8ECAE6;">
              <ol>
                {{#each tests}}
                  <li>
                    {{this}}
                   </li>
                {{/each}}
              </ol>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>
{{/each}}


  {{!-- modal window if user story has been accepted --}}
    <div id="myModalA" class=" modal" tabindex="-1" role="dialog">
        <div id="myModalA" >
              <div class="modal-dialog" role="document">
                  <div class="modal-content alert-s-200">
                  <div class="modal-header" style="background-color: var(--c5) !important">
                      <h5 class="modal-title">Success!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p>You accepted this User Story!</p>
                  </div>

                  </div>
              </div>
          </div>
       </div>


{{!-- modal window if user story has been declined --}}
    <div id="myModalD" class=" modal" tabindex="-1" role="dialog">
          <div id="myModalD" >
              <div class="modal-dialog" role="document">
                  <div class="modal-content alert-s-200">
                  <div class="modal-header" style="background-color: var(--c5) !important">
                      <h5 class="modal-title">Success!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p>You declined this User Story!</p>
                  </div>

                  </div>
              </div>
          </div>
      </div>


</div>
</div>








<script>
$('button').on('click', function() {
                id1 = this.id;
                let result1 = id1.includes("accept1");
                let result2 = id1.includes("decline1");
                let result3 = id1.includes("submit1");
                let result5 = id1.includes("close1");
                let result6 = id1.includes("modal-btn1");
                let result8 = id1.includes("test2");
                let result9 = id1.includes("test1");
                let result10 = id1.includes("decline2");
                let result11 = id1.includes("submit2");


                if (result1 == 1) {
                  let id_dec = id1.replace("accept1", "decline1");
                  document.getElementById(id_dec).disabled = true;
                  document.getElementById(id1).disabled = true;
                  }

                if (result2 == 1) {
                  let id_acep = id1.replace("decline1", "accept1");
                  let id_input = id1.replace("decline1", "input1");
                  let id_subm = id1.replace("decline1", "submit1");
                  let id_text = id1.replace("decline1","text1");
                  document.getElementById(id_acep).disabled = true;
                  document.getElementById(id_text).style.display = "";
                  document.getElementById(id1).disabled = true;
                  document.getElementById(id_input).type = "text";
                  document.getElementById(id_subm).hidden = "";
                  }

                  if(result3 == 1) {
                    let id_subm = id1.replace("submit1", "");
                    document.getElementById(id_subm).id = "submit1";
                    }


                  if (result5 == 1) {
                   mym_id = id1.replace("close1","my-modal")
                   example = id1.replace("close1","exampleModal")
                   id11 = id1.replace("close1","1")
                   id12 = id1.replace("close1","2")
                   document.getElementById(mym_id).style.display = 'none';
                   document.getElementById(example).style.display= "none";
                   document.getElementById(id11).style.display= "none";
                   document.getElementById(id12).style.display= "none";
                    }


                  if (result6 == 1) {
                    example = id1.replace("modal-btn1","exampleModal")
                    mym_id = id1.replace("modal-btn1","my-modal")
                    id11 = id1.replace("close1","1")
                    id12 = id1.replace("close1","2")
                    document.getElementById(mym_id).style.display= "block";
                    document.getElementById(example).style.display= "block";
                    document.getElementById(id11).style.display= "block";
                   document.getElementById(id12).style.display= "block";
                 }

                 if(result8 == 1) {
                  $(document).ready(function(){
                  $("#myModalD").modal('show');
                  setTimeout(function() {
                  $('#myModalD').modal('hide');
                      }, 7000);
                    });
                   }

                   if(result9 == 1) {
                  $(document).ready(function(){
                  $("#myModalA").modal('show');
                  setTimeout(function() {
                  $('#myModalA').modal('hide');
                      }, 7000);
                    });
                   }
                   
                   if (result10 == 1) {
                  let id_input = id1.replace("decline2", "input2");
                  let id_subm = id1.replace("decline2", "submit2");
                  let id_text = id1.replace("decline2","text2");
                  document.getElementById(id_text).style.display = "";
                  document.getElementById(id1).disabled = true;
                  document.getElementById(id_input).type = "text";
                  document.getElementById(id_subm).hidden = "";
                  }

                  if(result11 == 1) {
                    let id_subm = id1.replace("submit2", "");
                    document.getElementById(id_subm).id = "submit2";
                    }




            });
</script>



<script>
$('#submit1').on('click', function() {
                id1 = this.id;
                let result3 = id1.includes("submit")

                  if(result3 == 1) {
                      let id_input = id1.replace("submit", "input");
                      document.getElementById(id1).disabled = true;
                      $("#myModalD").modal('show');
                      setTimeout(function() {
                       $('#myModalD').modal('hide');
                     }, 2000);
                      }
            });
</script>

<script>
$('#submit2').on('click', function() {
                id1 = this.id;
                let result3 = id1.includes("submit")

                  if(result3 == 1) {
                      let id_input = id1.replace("submit", "input");
                      document.getElementById(id1).disabled = true;
                      }
            });
</script>
