<div class="hbses">
<h3>FINISHED USER STORIES:</h3>

    <div class="row" style="">
        <div class="card projekt-notification col-sm-3" style="">
            <div class="card-body">
                <!-- <b style="color:white; font-size:20px;">{{story.name}}</b> -->
                <b style="color:#023047; font-size:20px;">User Story: </b>
                <b style="color:white; font-size:20px;">ZGODBA 1</b>
                <br>
                <br>
                <small style="color:#023047;">Acceptance tests done:</small><span style="color:white;"> Yes</span><br>
                <small style="color:#023047;">Priority</small><span style="color:white;"> Should have</span><br>
                <small style="color:#023047;">Business value:</small><span style="color:white;"> 5</span><br>
                <small style="color:#023047;">Size:</small><span style="color:white;"> 5</span><br>
                <br>
                <a href=""  class="btn projekt-management-button btn-dark"
                style="background-color: #FB8500 !important; padding-top: 10px; margin-right:5px" id = "accept">ACCEPT</a>
                <a href=" "  class="btn projekt-management-button btn-dark"
                style="background-color: #FF3C38 !important; padding-top: 10px" id = "decline">DECLINE</a>
                
            </div>


        </div>

          <div class="card projekt-notification col-sm-3" style="">
            <div class="card-body">
                <!-- <b style="color:white; font-size:20px;">{{story.name}}</b> -->
                <b style="color:#023047; font-size:20px;">User Story: </b>
                <b style="color:white; font-size:20px;">Zgodba 2</b>
                <br>
                <br>
                <small style="color:#023047;">Acceptance tests done:</small><span style="color:white;"> Yes</span><br>
                <small style="color:#023047;">Priority</small><span style="color:white;"> Must have</span><br>
                <small style="color:#023047;">Business value:</small><span style="color:white;"> 7</span><br>
                <small style="color:#023047;">Size:</small><span style="color:white;"> 3</span><br>
                <br>
                <a href="/mytasks/finish/{{task.[2]}}/{{task.[3]}}/{{task.[0]._id}}"  class="btn projekt-management-button btn-dark"
                style="background-color: #FB8500 !important; padding-top: 10px; margin-right:5px" id = "accept">ACCEPT</a>
                <a href=" "  class="btn projekt-management-button btn-dark"
                style="background-color: #FF3C38 !important; padding-top: 10px" id = "decline">DECLINE</a>
            </div>


        </div>

</div>