<div class="hbses">


<br>

<div class="row">
  <div class="col-sm-3" style="padding-bottom: 30px !important">
    <div class="card account-info">
      <div class="card-body">
        <h5 class="card-title">Account information</h5>
        <p class="card-text"><span>Full name:</span>
          <br>
          {{name}} {{surname}}
          
        </p>
        <p class="card-text"><span>Username:</span>
          <br>
          {{username}}
        </p>
        <p class="card-text"><span>Email:</span>
          <br>
          {{email}}
        </p>
        <p class="card-text"><span>Last login:</span>
          <br>
          {{date}}
        </p>

        
        
      </div>
    </div>
    </div>
    {{!-- zamenjava gesla zahteva staro in novo geslo --}}
    <div class="col-sm-9">
    <div class="card account-update">
      <div class="card-body">
        <h5 class="card-title">Change your password</h5>
        <form id="posodobi" method="post">
          
                            <div class="mb-3" hidden="true">
                            <label class="form-label">Id</label>
                            <input class="form-control input-form" name="username" placeholder="name" value="{{username}}" id="id" aria-describedby="emailHelp" required>

                          </div>
                           <div class="mb-3">
                            <label class="form-label">Old password</label>
                            <input class="form-control input-form" name="password" onCopy="return false" onpaste="return false;" id="oldpassword" type="password" value="{{password}}" pattern="(?!.* ).{12,128}" title="The password must be at least 12 characters long and shouldn't contain whitespaces!" aria-describedby="emailHelp" required>
                            {{!-- <input id="prikazi" style="margin-right: 10px;margin-top:20px;" type="checkbox" onClick="myFunction2()">Show Password --}}
                            <script>
                              {{!-- function myFunction2() {
                                var x = document.getElementById("oldpassword");
                                if (x.type === "password") {
                                  x.type = "text";
                                } else {
                                  x.type = "password";
                                }
                              } --}}
                              $('#oldpassword').passtrength({
                                    minChars: 12
                              });
                              $('#oldpassword').passtrength({
                                passwordToggle: true,
                               
                                
                              });

                              $('#oldpassword').passtrength({
                                tooltip: true,
                                textWeak: "Weak",
                                textMedium: "Medium",
                                textStrong: "Strong",
                                textVeryStrong: "Very Strong",
                              });
                              </script>
                          </div>
                          
                              
                          <div class="mb-3">
                            <label class="form-label">New password</label>
                            <input class="form-control input-form" name="newpassword" onCopy="return false" onpaste="return false;" id="newpassword" type="password" type="password" pattern="(?!.* ).{12,128}" title="The password must be at least 12 characters long and shouldn't contain whitespaces!" aria-describedby="emailHelp" required>
                            {{!-- <input id="prikazi" style="margin-right: 10px;margin-top:20px;" type="checkbox" onClick="myFunction1()">Show Password --}}
                            <script>
                              {{!-- function myFunction1() {
                                var x = document.getElementById("newpassword");
                                if (x.type === "password") {
                                  x.type = "text";
                                } else {
                                  x.type = "password";
                                }
                              } --}}
                              $('#newpassword').passtrength({
                                    minChars: 12
                              });
                              $('#newpassword').passtrength({
                                passwordToggle: true,
                                
                                
                              });

                              $('#newpassword').passtrength({
                                tooltip: true,
                                textWeak: "Weak",
                                textMedium: "Medium",
                                textStrong: "Strong",
                                textVeryStrong: "Very Strong",
                              });
                              </script>
                          </div>
                          
                          <div class="mb-3">
                            <label class="form-label">Retype new password</label>
                            <input class="form-control input-form" name="password_retype"  onCopy="return false" onpaste="return false;" id="password1" type="password" pattern="(?!.* ).{12,128}" title="The password must be at least 12 characters long and shouldn't contain whitespaces!" aria-describedby="emailHelp" required>
                            {{!-- <input id="prikazi" style="margin-right: 10px;margin-top:20px;" type="checkbox" onClick="myFunction()">Show Password --}}
                            <script>
                              {{!-- function myFunction() {
                                var x = document.getElementById("password1");
                                if (x.type === "password") {
                                  x.type = "text";
                                } else {
                                  x.type = "password";
                                }
                              } --}}
                              $('#password1').passtrength({
                                    minChars: 12
                              });
                              $('#password1').passtrength({
                                passwordToggle: true,
                               
                                
                              });

                              $('#password1').passtrength({
                                tooltip: true,
                                textWeak: "Weak",
                                textMedium: "Medium",
                                textStrong: "Strong",
                                textVeryStrong: "Very Strong",
                              });
                              </script>
                          </div>

                          {{#if napaka}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 8px; border-radius: 18px">
                          <span style="font-size: 14px !important">Wrong password!</span>
                          </div>
                        {{/if}}
                        {{#if napaka1}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">The re-typed password doesn't match!</span>
                          </div>
                        {{/if}}


                        <button type="submit" class="btn submit-form">Submit</button>
                

                        
                        </form>

                        
      </div>
      
    </div>
  </div>



</div>