<div class="hbses">

  {{!-- modal window if task has been accepted --}}
  <div id="myModal43" class=" modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                  <div class="modal-content alert-s-200">
                  <div class="modal-header" style="background-color: var(--c5) !important">
                      <h5 class="modal-title">Success!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p>You finished this task!</p>
                  </div>

                  </div>
              </div>
          </div>

  {{#if finished}}
  <script>
      $(document).ready(function(){
          $("#myModal43").modal('show');

          setTimeout(function() {

              $('#myModal43').modal('hide');
          }, 7000);
      });
  </script>
  {{/if}}

  {{!-- modal window if task has been accepted --}}
  <div id="myModal41" class=" modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                  <div class="modal-content alert-s-200">
                  <div class="modal-header" style="background-color: var(--c5) !important">
                      <h5 class="modal-title">Success!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p>You accepted this task!</p>
                  </div>

                  </div>
              </div>
          </div>

  {{#if accepted}}
  <script>
      $(document).ready(function(){
          $("#myModal41").modal('show');

          setTimeout(function() {

              $('#myModal41').modal('hide');
          }, 7000);
      });
  </script>
  {{/if}}

  {{!-- modal window if task has been accepted --}}
  <div id="myModal42" class=" modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                  <div class="modal-content alert-s-200">
                  <div class="modal-header" style="background-color: var(--c5) !important">
                      <h5 class="modal-title">Success!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p>You declined this task!</p>
                  </div>

                  </div>
              </div>
          </div>

  {{#if declined}}
  <script>
      $(document).ready(function(){
          $("#myModal42").modal('show');

          setTimeout(function() {

              $('#myModal42').modal('hide');
          }, 7000);
      });
  </script>
  {{/if}}

<h5>My assigned tasks:</h5>
<div class="row" style="">
 {{#each myAssignedTasks as |task|}}
 <div class="card projekt-notification col-sm-3" style="">
               <div class="card-body">
                <b style="color:white; font-size:20px;">{{task.[0].name}}</b>
                <br>
                <br>
                <small style="color:#023047;">From user story:</small><span style="color:#023047;"> {{task.[1]}}</span><br>
                <small style="color:#023047;">Hours for this task:</small><span style="color:#023047;"> {{task.[0].hours}}</span><br>
                <br>

                <a href="/mytasks/accept/{{task.[2]}}/{{task.[3]}}/{{task.[0]._id}}"  class="btn projekt-management-button btn-dark"
                style="background-color: #FB8500 !important; padding-top: 10px" id = "accept" >ACCEPT</a>

                <button type="button" class="btn projekt-management-button btn-dark"
                style="background-color: #FF3C38 !important" id = "decline1">DECLINE</button>
               <br>
               <h2></h2>
               <b style="color:white; font-size:20px; display:none;" id = "text">Why will you decline this task?</b>
               <!-- <input type="hidden" class="form-control input-form" id="input">
               <button hidden = "hidden" type="button" class="btn projekt-management-button btn-dark"
                style="background-color: #FB8500 !important" id = 'submit'>SUBMIT</button> -->


                    <form id="posodobiUporabnika" method="post" style="" action="/mytasks/decline/{{task.[2]}}/{{task.[3]}}/{{task.[0]._id}}">
                      <div class="mb-3" style="padding-bottom: 0px !important">
                        <input type="hidden" class="form-control input-form" name="comment" id="input" type="text" >
                      </div>
                      <div style="padding-top: 0px !important">
                        <button hidden = "hidden" id = 'submit' type="submit" class="btn projekt-management-button btn-dark">Submit</button>
                      </div>
                    </form>
              </div>
              </div>
 {{/each}}
</div>

<h5 style="padding-top: 70px; padding-bottom: 0px">My accepted tasks:</h5>
<div class="row" style="">
 {{#each myAcceptedTasks as |task|}}
 <div class="card projekt-notification col-sm-3" style="">
               <div class="card-body">
                <b style="color:white; font-size:20px;">{{task.[0].name}}</b>
                <br>
                <br>
                <small style="color:#023047;">From user story:</small><span style="color:#023047;"> {{task.[1]}}</span><br>
                <small style="color:#023047;">Hours for this task:</small><span style="color:#023047;"> {{task.[0].hours}}</span><br>
                <br>
                <a href="/mytasks/finish/{{task.[2]}}/{{task.[3]}}/{{task.[0]._id}}"  class="btn projekt-management-button btn-dark"
                style="background-color: #32CD32 !important; padding-top: 10px" id = "accept">FINISH</a>

                <button type="button" class="btn projekt-management-button btn-dark"
                style="background-color: #FF3C38 !important" id = "decline2">DECLINE</button>
               <br>
               <h2></h2>
               <b style="color:white; font-size:20px; display:none;" id = "text">Why will you decline this task?</b>
               <!-- <input type="hidden" class="form-control input-form" id="input">
               <button hidden = "hidden" type="button" class="btn projekt-management-button btn-dark"
                style="background-color: #FB8500 !important" id = 'submit'>SUBMIT</button> -->


                    <form id="posodobiUporabnika" method="post" style="" action="/mytasks/decline/{{task.[2]}}/{{task.[3]}}/{{task.[0]._id}}">
                      <div class="mb-3" style="padding-bottom: 0px !important">
                        <input type="hidden" class="form-control input-form" name="comment" id="input" type="text" >
                      </div>
                      <div style="padding-top: 0px !important">
                        <button hidden = "hidden" id = 'submit' type="submit" class="btn projekt-management-button btn-dark">Submit</button>
                      </div>
                    </form>

              </div>
              </div>
 {{/each}}
</div>

<h5 style="padding-top: 70px; padding-bottom: 0px">My finished tasks:</h5>
<div class="row" style="">
 {{#each myfinishedTasks as |task|}}
 <div class="card projekt-notification col-sm-3" style="">
               <div class="card-body">
                <b style="color:white; font-size:20px;">{{task.[0].name}}</b>
                <br>
                <br>
                <small style="color:#023047;">From user story:</small><span style="color:#023047;"> {{task.[1]}}</span><br>
                <small style="color:#023047;">Hours for this task:</small><span style="color:#023047;"> {{task.[0].hours}}</span><br>
                <br>
              </div>
              </div>
 {{/each}}
</div>

</div>

<script>
$('#decline1').on('click', function() {
                id1 = this.id;
                let result1 = id1.includes("accept");
                let result2 = id1.includes("decline1");
                let result3 = id1.includes("submit")

                if (result1 == 1) {
                  let id_dec = id1.replace("accept", "decline1");
                  let id_noti = id1.replace("accept ", "");
                  let id_input = id1.replace("accept", "input");
                  let id_subm = id1.replace("accept", "submit");
                  let id_txt = id1.replace("accep", "text");

                  document.getElementById(id_dec).disabled = true;
                  document.getElementById(id1).disabled = true;
                  document.getElementById(id_noti).innerHTML = "TASK ACCEPTED!";
                  //$('h4').text("TASK ACCEPTED!");
                   }
                if (result2 == 1) {
                  let id_acep = id1.replace("decline1", "accept");
                  let id_noti = id1.replace("decline1 ", "");
                  let id_input = id1.replace("decline1", "input");
                  let id_subm = id1.replace("decline1", "submit");
                  let id_txt = id1.replace("decline1", "text");
                  //document.getElementById(id1).disabled = true;
                  document.getElementById(id_acep).disabled = true;
                  document.getElementById(id_input).type = "text";
                  document.getElementById(id_txt).style.display = "";
                  document.getElementById(id1).disabled = true;
                  document.getElementById(id_subm).hidden = "";
                  }

                  if(result3 == 1) {
                      let id_subm = id1.replace("submit ", "");
                      let id_input = id1.replace("submit", "input");
                      let id_noti = id1.replace("submit ", "");
                      document.getElementById(id1).disabled = true;
                      document.getElementById(id_input).disabled = "disabled"
                      document.getElementById(id_noti).innerHTML = "TASK DECLINED!";
                      }
            });
</script>
<script>
$('#decline2').on('click', function() {
                id1 = this.id;
                let result1 = id1.includes("accept");
                let result2 = id1.includes("decline2");
                let result3 = id1.includes("submit")

                if (result1 == 1) {
                  let id_dec = id1.replace("accept", "decline2");
                  let id_noti = id1.replace("accept ", "");
                  let id_input = id1.replace("accept", "input");
                  let id_subm = id1.replace("accept", "submit");
                  let id_txt = id1.replace("accept", "text");

                  document.getElementById(id_dec).disabled = true;
                  document.getElementById(id1).disabled = true;
                  document.getElementById(id_noti).innerHTML = "TASK ACCEPTED!";
                  //$('h4').text("TASK ACCEPTED!");
                   }
                if (result2 == 1) {
                  let id_acep = id1.replace("decline2", "accept");
                  let id_noti = id1.replace("decline2", "");
                  let id_input = id1.replace("decline2", "input");
                  let id_subm = id1.replace("decline2", "submit");
                  let id_txt = id1.replace("decline2", "text");
                  //document.getElementById(id1).disabled = true;
                  document.getElementById(id_acep).disabled = true;
                  document.getElementById(id_input).type = "text";
                  document.getElementById(id_txt).style.display = "";
                  document.getElementById(id1).disabled = true;
                  document.getElementById(id_subm).hidden = "";
                  }

                  if(result3 == 1) {
                      let id_subm = id1.replace("submit ", "");
                      let id_input = id1.replace("submit", "input");
                      let id_noti = id1.replace("submit ", "");
                      document.getElementById(id1).disabled = true;
                      document.getElementById(id_input).disabled = "disabled"
                      document.getElementById(id_noti).innerHTML = "TASK DECLINED!";
                      }
            });
</script>
