<div class="hbses">
<div class="row">


    <div class="col-sm-5 ">
        <div class="card account-info" style="background-color: var(--c4) !important;">
            <div class="card-body">
                <h5 class="card-title">Project information</h5>
            <p class="card-text"><span style="color: var(--c2) !important;">Project name:</span>
                    <br>
                    {{name}}
                    </p>
                    <p class="card-text"><span style="color: var(--c2) !important;">Project description:</span>
                    <br>
                    {{info}}
                    </p>

            </div>

        </div>
        <br>


        <div class="card account-info" style="background-color: var(--c4) !important;">
            <div class="card-body">
                <h5 class="card-title">Project collaborators</h5>

                    {{!-- circles collaborators --}}
                    {{#each collaborators as |collaborator|}}
                    {{!-- ce je Team Member se krogec obarva s sivo --}}
                    {{#if (isTeamMember collaborator.project_role)}}

                    <button  id="collaborator_circle" type="button" data-toggle="modal" data-proj="{{../id}}" data-id="{{collaborator._id}}" data-usr="{{collaborator.username}}" data-role="{{collaborator.project_role}}"
                    data-target="#modalnoOknoColl" class="btn btn-dark open-collaboratorEdit" style="background-color: var(--c6) !important; ">
                    {{firstLetterOfUsername collaborator.username}}

                    </button>
                    {{/if}}


                    {{!-- ce je Scrum Master se krogec obarva z modro  --}}
                    {{#if (isScrumMaster collaborator.project_role)}}

                    <button id="collaborator_circle" type="button" data-toggle="modal" data-proj="{{../id}}" data-id="{{collaborator._id}}" data-usr="{{collaborator.username}}" data-role="{{collaborator.project_role}}" data-target="#modalnoOknoColl" class="btn btn-dark open-collaboratorEdit" style="background-color: var(--c5) !important; ">
                    {{firstLetterOfUsername collaborator.username}}

                    </button>
                    {{/if}}

                    {{!-- ce je Product Manager se krogec obarva s oranzno --}}
                    {{#if (isProductManager collaborator.project_role)}}

                    <button id="collaborator_circle" type="button" data-toggle="modal" data-proj="{{../id}}" data-id="{{collaborator._id}}" data-usr="{{collaborator.username}}" data-role="{{collaborator.project_role}}" data-target="#modalnoOknoColl" class="btn btn-dark open-collaboratorEdit" style="background-color: var(--c1) !important; ">
                    {{firstLetterOfUsername collaborator.username}}

                    </button>
                    {{/if}}
                    <script>
                            $(document).on("click", ".open-collaboratorEdit", function () {
                                var projectId = $(this).data('proj');
                                var eventId = $(this).data('id');
                                var eventUsr = $(this).data('usr');
                                var eventRole = $(this).data('role');
                                console.log(eventId);
                                console.log(projectId);
                                $('#idHolder0').html( projectId );
                                $('#idHolder').html( eventId );
                                $('#idHolder2').html( eventUsr );
                                $('#idHolder3').html( eventRole );

                                $('#inputUsr').val(eventUsr);
                                $('#inputRole').val(eventRole);
                                var str = '/projects/' + projectId + '/edit-collaborator/' + eventId;
                                console.log(str);
                                var strD = '/projects/' + projectId + '/delete-collaborator/' + eventId;

                                $('#collaboratorEdit').attr("action", str);
                                $('#collaboratorRemove').attr("action", strD);


                            });
                    </script>


                    {{!-- modalno okno za spreminjanje nastavitev uporabnika --}}
                    <div class="modal fade" id="modalnoOknoColl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content modal-content-ekipa">
                                <div class="modal-header modal-header-ekipa">
                                <h5 class="modal-title" id="exampleModalLabel" style="padding-top=10px; !important">Edit project collaborator</h5>
                                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="collaboratorEdit" action="url">
                                    <!--form start-->
                                    <!-- Username -->

                                    <input type="hidden" name="eventId" id="eventId"/ hidden>
                                    <span id="idHolder0" hidden></span>
        	                        <span id="idHolder" hidden></span>
                                    <span id="idHolder2" hidden></span>
                                    <span id="idHolder3" hidden></span>

                                    <div class="mb-3">
                                        <label class="form-label">Username</label>
                                        <div class="row" style="padding: 0px !important">
                                            <div class="col-lg-10"><input class="form-control input-form" style="background-color: rgb(196, 196, 196) !important" name="" id="inputUsr" aria-describedby="emailHelp" readonly></div>
                                        </div>
                                    </div>
                                    <!-- Role -->
                                    <div class="mb-3">
                                        <label class="form-label">Project role</label>
                                        <div class="row" style="padding: 0px !important">
                                            <div class="col-lg-10"><input class="form-control input-form" style="background-color: rgb(196, 196, 196) !important;" name=""  id="inputRole" aria-describedby="emailHelp" readonly></div>
                                        </div>
                                    </div>

                                    <!-- New role -->
                                    <div class="mb-3 form-select">
                                    <label class="form-label" style="padding-top: 30px !important">New project role</label>
                                    <input class="form-control input-form" type="text" name="project_role" list="exampleList1" required>
                                        <datalist id="exampleList1">
                                            <option value="Team Member">  </option>
                                            <option value="Product Manager"></option>
                                            <option value="Scrum Master"></option>
                                        </datalist>
                                    </div>
                                    <br><br>
                                    <div style="padding: 10px !important">
                                        <!-- save changes -->

                                    <button type="submit" class="btn submit-form" style="background-color: var(--c5)!important; !important">Save changes</button>

                                    </form>
                                    <!-- remove collaborator -->

                                    <form action="url" method="post" id="collaboratorRemove">
                                    <div>
                                    <button type="submit" class="btn submit-form" style="margin-top: -50px !important; background-color: var(--c1)!important; float: right !important; width: 200px !important">Remove collaborator</button>
                                    </div>
                                    </form>
                                    </div>
                                    <!--form stop-->
                                </div>
                            </div>
                        </div>
                    </div>

                    {{/each}}



                <!-- Legenda -->
                <br><br>
                <div>
                <button id="collaborator_circle_legend" style="background-color: var(--c6) !important; margin-right: 5px !important;" disabled="True"></button><span style="font-size: 10px !important; padding-right: 20px !important;">Team Member</span>
                <button id="collaborator_circle_legend" style="background-color: var(--c5) !important; margin-right: 5px !important;" disabled="True"></button><span style="font-size: 10px !important; padding-right: 20px !important;">Scrum master</span>
                <button id="collaborator_circle_legend" style="background-color: var(--c1) !important; margin-right: 5px !important;" disabled="True"></button><span style="font-size: 10px !important; padding-right: 20px !important;">Product Manager</span>
                <a href="#add" onclick="location.href='#add'"><button id="ekipa" type="button" data-toggle="modal" data-target="#modalnoOknoEkipa" class="btn btn-dark dodaj-vekipo" style="background-color: var(--c1) !important; border: 3px solid var(--c1) !important"><i class="fa-solid fa-plus dodaj"></i></button></a>
                </div>

            </div>

        </div>
    </div>



<div class="col-sm-7">
        <div class="card user-add">
        <div class="card-body">
            <h5 class="card-title">Edit project</h5>

                        <form id="posodobiUporabnika" method="post" style="">
                          <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Name</label>
                            <input class="form-control input-form" value="{{name}}" name="name" id="name" aria-describedby="emailHelp" required>
                        </div>

                        <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Project description</label>
                            <textarea class="form-control input-form-lg" name="info" id="info" aria-describedby="emailHelp" required>{{info}}</textarea>
                        </div>

                        {{#if napaka}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">Project with this name already exists!</span>
                          </div>
                        {{/if}}
                        <div style="padding-top: 10px !important">
                        <button type="submit" class="btn submit-form">Submit</button>
                        </div>
                        </form>
                        </div>

                      </div>
                      <div style="padding-top: 10px !important">
<!--<a href="/projects/{{id}}/add-collaborators"><button type="submit" class="btn submit-form" style="width: 200px !important; margin:5px !important; background-color: var(--c3) !important">Add collaborators</button></a>
<a href="/projects/{{id}}/edit-collaborator-roles"><button type="submit" class="btn submit-form" style="width: 240px !important; margin:5px !important; background-color: var(--c4) !important">Edit collaborator roles</button></a>
<a href="/projects/{{id}}/delete-collaborators"><button type="submit" class="btn submit-form" style="width: 220px !important; margin:5px !important; background-color: var(--c5) !important">Remove collaborators</button></a>-->
</div>
</div>


</div>


<div class="modal fade" id="modalnoOknoEkipa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-content-ekipa">
            <div class="modal-header modal-header-ekipa">
                <h5 class="modal-title" id="exampleModalLabel" style="padding-top=10px; !important">Add project collaborators</h5>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <form action="/projects/{{id}}/add-collaborators" method="post">
                <div class="mb-3 form-select">
                        <label class="form-label" style="padding-top: 5px !important">Collaborator</label>
                          <input class="form-control input-form" type="text" name="username" list="exampleList" style="width: 400px !important"  placeholder="Select collaborator from users list" required>
                            <datalist id="exampleList" >
                                {{#each users as |user|}}
                                {{#if user.isNotDeleted}}
                                {{#if (isUser user.role)}}
                            <option value="{{user.username}}">
                            </option>
                            {{/if}}
                            {{/if}}
                            {{/each}}
                            </datalist>
                            </div>


                <div class="mb-3 form-select">
                        <label class="form-label" style="padding-top: 30px !important">Project role</label>
                          <input class="form-control input-form" type="text" placeholder="Select project role from roles list" style="width: 400px !important" name="project_role" list="exampleList1" required>
                            <datalist id="exampleList1">
                            <option value="Team Member">  </option>
                            <option value="Product Manager"></option>
                            <option value="Scrum Master"></option>
                            </datalist>
                            </div>
                <div style="padding: 10px !important">
                      <button type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: right; !important">Save changes</button>
                </div>
                </form>


            </div>
        </div>
    </div>
</div>





{{!-- ______________________________________________ modal windows _________________________________________________ --}}

{{!-- modal window if project was successfully edited --}}
<div id="myModal5" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Project information were successfully updated!</p>
                </div>

                </div>
            </div>
        </div>


{{!-- modal window if user was successfully edited --}}
<div id="myModal4" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>User's project role was successfully updated!</p>
                </div>

                </div>
            </div>
        </div>

{{!-- modal window if user was successfully added --}}
<div id="myModal3" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>User was successfully added to the project!</p>
                </div>

                </div>
            </div>
        </div>

{{!-- modal window if user was successfully removed --}}
<div id="myModal2" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>User was successfully removed from the project!</p>
                </div>

                </div>
            </div>
        </div>


{{!-- modal window if adding user was not succesfull --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


        <div id="myModal1" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-400">
                <div class="modal-header">
                    <h5 class="modal-title">Error!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Whoops! Something went wrong! A user that is already a collaborator on a project, can't be added to the same project again!</p>
                </div>

                </div>
            </div>
        </div>

</div>

{{#if napaka1}}
<script>
    $(document).ready(function(){
        $("#myModal1").modal('show');

        setTimeout(function() {

            $('#myModal1').modal('hide');
        }, 7000);
    });
</script>

{{/if}}

{{#if success}}
<script>
    $(document).ready(function(){
        $("#myModal2").modal('show');

        setTimeout(function() {

            $('#myModal2').modal('hide');
        }, 7000);
    });
</script>
{{/if}}


{{#if successfullyAdded}}
<script>
    $(document).ready(function(){
        $("#myModal3").modal('show');

        setTimeout(function() {

            $('#myModal3').modal('hide');
        }, 7000);
    });
</script>
{{/if}}


{{#if successfullyEdited}}
<script>
    $(document).ready(function(){
        $("#myModal4").modal('show');

        setTimeout(function() {

            $('#myModal4').modal('hide');
        }, 7000);
    });
</script>
{{/if}}

{{#if successfullyEditedProject}}
<script>
    $(document).ready(function(){
        $("#myModal5").modal('show');

        setTimeout(function() {

            $('#myModal5').modal('hide');
        }, 7000);
    });
</script>
{{/if}}



