{{!-- Product backlog / sprints zavihka --}}

<div class="hbses">

<h3>{{name}}</h3>


<div class="row" style="padding-top:">

  {{!-- additional project infos --}}
  <div class="col-lg-2" style="padding-top: 20px !important; padding-right: 20px !important">
    {{!-- par informacij o projektu --}}
    <div class="card account-info" style="background-color: var(--c4) !important;">
                <div class="card-body">
                    <h5 class="card-title">Additional project information</h5>
                        {{!-- info --}}
                        <p class="card-text"><span style="color: var(--c2) !important;">Project description:</span>
                        <br>
                        {{info}}
                        </p>
                        {{!-- produktni vodja --}}
                        <p class="card-text"><span style="color: var(--c2) !important;">Product manager:</span>
                        <br>
                        {{#each productManagers as |productManager|}}

                          <button  id="collaborator_circle" type="button" data-toggle="modal" data-proj="{{../id}}" data-id="{{collaborator._id}}" data-usr="{{collaborator.username}}" data-role="{{collaborator.project_role}}"
                           class="btn btn-dark open-collaboratorEdit" style="background-color: var(--c1) !important; ">
                          {{firstLetterOfUsername productManager.username}}
                          </button>

                        {{/each}}

                        </p>
                        {{!-- team members --}}
                        <p class="card-text"><span style="color: var(--c2) !important;">Scrum master:</span>

                        {{#each scrumMasters as |scrumMaster|}}
                          <br>
                          <button  id="collaborator_circle" type="button" data-toggle="modal" data-proj="{{../id}}" data-id="{{collaborator._id}}" data-usr="{{collaborator.username}}" data-role="{{collaborator.project_role}}"
                           class="btn btn-dark open-collaboratorEdit" style="background-color: var(--c5) !important; ">
                          {{firstLetterOfUsername scrumMaster.username}}
                          </button>
                        {{/each}}

                        </p>
                        {{!-- team members --}}
                        <p class="card-text"><span style="color: var(--c2) !important;">Team members:</span>

                        {{#each teamMembers as |teamMember|}}
                          <br>
                          <button  id="collaborator_circle" type="button" data-toggle="modal" data-proj="{{../id}}" data-id="{{collaborator._id}}" data-usr="{{collaborator.username}}" data-role="{{collaborator.project_role}}"
                           class="btn btn-dark open-collaboratorEdit" style="background-color: var(--c6) !important; ">
                          {{firstLetterOfUsername teamMember.username}}
                          </button>
                        {{/each}}

                        </p>



                </div>

            </div>


    <br>
    {{!-- legenda --}}
    <div class="card account-info" style="background-color: var(--c3) !important;">
                <div class="card-body">
                  <!-- legend for user stories -->
                        <div><button id="project_circle_legend" style="background-color: var(--c4) !important; margin-right: 5px !important;" disabled="True"></button><span style="font-size: 13px !important; padding-right: 6px !important;">Unfinished</span></div>
                        <div><button id="project_circle_legend" style="background-color: var(--c5) !important; margin-right: 5px !important;" disabled="True"></button><span style="font-size: 13px !important; padding-right: 6px !important;">Finished</span></div>
                        <div><button id="project_circle_legend" style="background-color: var(--c2) !important; margin-right: 5px !important;" disabled="True"></button><span style="font-size: 13px !important; padding-right: 6px !important;">Future relese</span></div>
                </div>
    </div>

  </div>

{{!-- product backlog / sprints --}}
<div class="col-lg-10" style="margin-top: 20px !important">
  <ul class="nav nav-tabs">

    <li class="active"><a class="nav-link" data-toggle="tab" href="#backlog" onclick="location.href='#backlog'">Product backlog</a></li>
    <li><a class="nav-link" data-toggle="tab" href="#sprints" onclick="location.href='#sprints'">Sprints</a></li>

  </ul>

  {{!-- product backlog -> prikazovanje zgodb + dodajanje novih --}}
  <div class="tab-content">
    <div id="backlog" class=" active tab-pane fade">
      
      {{!-- 1. stolpec - if unfinished + pripadajo sprintu --}}

      <div class="row" style="padding-top: 40px !important; color: var(--c1) !important">
        <div class="col-lg-4" style="padding-left: 0px !important"><h5>Unfinished</h5></div>
        <div class="col-lg-4" style="padding-left: 0px !important"><h5>Finished</h5></div>
        <div class="col-lg-4" style="padding-left: 0px !important"><h5>Future release</h5></div>
      </div>
    <div class="row">
      <div class="col-lg-4">
        {{#each userStories as |story|}}
    
            <div class="card-group">
              <div class="row" style="padding: 0px !important">
                {{#if (columnFirst story.finished story.sprint story.priority)}}
                <a id="storypush" type="button"data-toggle="modal" href="#info" onclick="location.href='#info'" class="modalnoOknoStory" data-target="#modalnoOknoStory" data-id="{{story._id}}"
                data-name="{{story.name}}" data-desc="{{story.aboutText}}" data-priority="{{story.priority}}" data-busval="{{story.businessValue}}" data-collaborators="{{json ../collaborators}}"
                data-size="{{story.size}}" data-acc="{{story.tests}}" data-subt="{{json story.subtasks}}" data-com="{{json story.comments}}" data-pending="{{story.pending}}"
                data-owner="{{story.userStorieOwnerUsername}}" data-flags="{{story.flags}}" data-sprint1="{{story.sprint}}" data-projid="{{../id}}" data-finished="{{story.finished}}"
                data-scrum="{{../scrumMaster}}" data-projman="{{../productManager}}" data-team="{{../teamMember}}" data-admin="{{../nivoDostopa}}" data-user="{{../username}}" data-sprintsall="{{../inProcessSprintsNumbers}}">

                <div id="uporabniskaZgodbaProductBacklog" class="card projekt-user-card" style="border: 3px solid var(--c4) !important;">
                  <div class="card-body user-card-info">
                    <div class="row" style="padding: 0px !important;">
                        <div class=" col-lg-10" >
                          <h4><i>{{story.name}}</i></h4>
                        </div>

                        <div class="storyOwner_circle-d col-lg-2 " >
                            <button  id="storyOwner_circle" type="button"
                                    class="btn btn-dark open-collaboratorEdit" disabled>
                                    {{firstLetterOfUsername story.userStorieOwnerUsername}}
                            </button>
                          </div>
                    </div>

                    <p id="user-story-info"><span>Priority:</span> {{story.priority}}<br>
                      <span>Business value:</span> {{story.businessValue}}<br>
                      <span>Size:</span> {{story.size}}
                    </p>
                    
                    <div class="row" style="padding: 0px !important;">
                      <div class="card-flagss col-lg-12">
                        <div class="row">
                        {{#each story.flags as |flag|}}
                          <span id="flag-info">
                          {{flag}}
                          </span>
                        {{/each}}
                        </div>
                      </div>
                    </div>


                  </div>

                </div>
                </a>
              {{/if}}
              </div>
              </div>
            {{/each}}
          </div>
          {{!-- 2. stolpec - finished --}}
          <div class="col-lg-4">
        {{#each userStories as |story|}}
    
            <div class="card-group">
              <div class="row" style="padding: 0px !important">
                {{#if (columnSecond story.finished story.sprint)}}
                <a id="storypush" type="button"data-toggle="modal" href="#info" onclick="location.href='#info'" class="modalnoOknoStory" data-target="#modalnoOknoStory" data-id="{{story._id}}"
                data-name="{{story.name}}" data-desc="{{story.aboutText}}" data-priority="{{story.priority}}" data-busval="{{story.businessValue}}" data-collaborators="{{json ../collaborators}}"
                data-size="{{story.size}}" data-acc="{{story.tests}}" data-subt="{{json story.subtasks}}" data-com="{{json story.comments}}" data-pending="{{story.pending}}"
                data-owner="{{story.userStorieOwnerUsername}}" data-flags="{{story.flags}}" data-sprint1="{{story.sprint}}" data-projid="{{../id}}" data-finished="{{story.finished}}"
                data-scrum="{{../scrumMaster}}" data-projman="{{../productManager}}" data-team="{{../teamMember}}" data-admin="{{../nivoDostopa}}" data-user="{{../username}}" data-sprintsall="{{../inProcessSprintsNumbers}}">

                <div id="uporabniskaZgodbaProductBacklog" class="card projekt-user-card" style="border: 3px solid var(--c5) !important;">
                  <div class="card-body user-card-info">
                    <div class="row" style="padding: 0px !important;">
                        <div class=" col-lg-10" >
                          <h4><i>{{story.name}}</i></h4>
                        </div>

                        <div class="storyOwner_circle-d col-lg-2 " >
                            <button  id="storyOwner_circle" type="button"
                                    class="btn btn-dark open-collaboratorEdit" disabled>
                                    {{firstLetterOfUsername story.userStorieOwnerUsername}}
                            </button>
                          </div>
                    </div>

                    <p id="user-story-info"><span>Priority:</span> {{story.priority}}<br>
                      <span>Business value:</span> {{story.businessValue}}<br>
                      <span>Size:</span> {{story.size}}
                    </p>
                    
                    <div class="row" style="padding: 0px !important;">
                      <div class="card-flagss col-lg-12">
                        <div class="row">
                        {{#each story.flags as |flag|}}
                          <span id="flag-info">
                          {{flag}}
                          </span>
                        {{/each}}
                        </div>
                      </div>
                    </div>


                  </div>

                </div>
                </a>
              {{/if}}
              </div>
              </div>
            {{/each}}
          </div>
          {{!-- 3. stolpec --}}
          <div class="col-lg-4">
        {{#each userStories as |story|}}
    
            <div class="card-group">
              <div class="row" style="padding: 0px !important">
                {{#if (columnThird story.finished story.sprint story.priority)}}
                <a id="storypush" type="button"data-toggle="modal" href="#info" onclick="location.href='#info'" class="modalnoOknoStory" data-target="#modalnoOknoStory" data-id="{{story._id}}"
                data-name="{{story.name}}" data-desc="{{story.aboutText}}" data-priority="{{story.priority}}" data-busval="{{story.businessValue}}" data-collaborators="{{json ../collaborators}}"
                data-size="{{story.size}}" data-acc="{{story.tests}}" data-subt="{{json story.subtasks}}" data-com="{{json story.comments}}" data-pending="{{story.pending}}"
                data-owner="{{story.userStorieOwnerUsername}}" data-flags="{{story.flags}}" data-sprint1="{{story.sprint}}" data-projid="{{../id}}" data-finished="{{story.finished}}"
                data-scrum="{{../scrumMaster}}" data-projman="{{../productManager}}" data-team="{{../teamMember}}" data-admin="{{../nivoDostopa}}" data-user="{{../username}}" data-sprintsall="{{../inProcessSprintsNumbers}}">

                <div id="uporabniskaZgodbaProductBacklog" class="card projekt-user-card" style="border: 3px solid var(--c2) !important;">
                  <div class="card-body user-card-info">
                    <div class="row" style="padding: 0px !important;">
                        <div class=" col-lg-10" >
                          <h4><i>{{story.name}}</i></h4>
                        </div>

                        <div class="storyOwner_circle-d col-lg-2 " >
                            <button  id="storyOwner_circle" type="button"
                                    class="btn btn-dark open-collaboratorEdit" disabled>
                                    {{firstLetterOfUsername story.userStorieOwnerUsername}}
                            </button>
                          </div>
                    </div>

                    <p id="user-story-info"><span>Priority:</span> {{story.priority}}<br>
                      <span>Business value:</span> {{story.businessValue}}<br>
                      <span>Size:</span> {{story.size}}
                    </p>
                    
                    <div class="row" style="padding: 0px !important;">
                      <div class="card-flagss col-lg-12">
                        <div class="row">
                        {{#each story.flags as |flag|}}
                          <span id="flag-info">
                          {{flag}}
                          </span>
                        {{/each}}
                        </div>
                      </div>
                    </div>


                  </div>

                </div>
                </a>
              {{/if}}
              </div>
              </div>
            {{/each}}
          </div>

    </div>
    
    

                  <script>
                            $(document).on("click", ".modalnoOknoStory", function () {


                              var projId = $(this).data('projid');
                                var storyId = $(this).data('id');
                                console.log(storyId);
                                var storyID = $(this).data('id');
                                var storyName = $(this).data('name');
                                var storyAbout = $(this).data('desc');
                                var storyPriority = $(this).data('priority');
                                var storyBusinessValue = $(this).data('busval');
                                var storySize = $(this).data('size');
                                let storyTests = $(this).data('acc');
                                let storySubtasks = $(this).data('subt');
                                let storySubtasks1 = [{Object}];
                                storySubtasks1 = JSON.stringify($(this).data('subt'));
                                let storyComments = $(this).data('com');
                                let storyComments1 = [{Object}];
                                storyComments1 = JSON.stringify($(this).data('com'));
                                let storyPendingFlag = $(this).data('pending');
                                let storyOwner = $(this).data('owner');
                                let storyFlags = $(this).data('flags');
                                var storySprint = $(this).data('sprint1');
                                var storyFinished = $(this).data('finished');
                                var isScrumMaster = $(this).data('scrum');
                                var isProductManager = $(this).data('projman');
                                var isTeamMember = $(this).data('team');
                                var admin = $(this).data('admin');
                                var commentOwnerUsername = $(this).data('user');
                                var sprintsInProgress = $(this).data('sprintsall');
                                let collaborators1 = [{}];
                                collaborators1 = $(this).data('collaborators');
                                

                                console.log(collaborators1);
                                
                            

                                {{!-- story name odstranmo prve tri znakce --}}
                                 var nameOfStory = storyName.substring(3, storyName.length);

                                // 1. basic info
                                //prikazovanje
                                {{!-- posiljanje na modalno okno --}}
                                {{!-- info --}}
                                $('#StoryName').html( storyName );
                                $('#StoryName1').val(nameOfStory);
                                $('#StoryName2').val(storyName);
                                $('#storyDescription').val(storyAbout);
                                $('#storyPriority').val(storyPriority);
                                $('#storyBusinessValue').val(storyBusinessValue);
                                $('#storySize').val(storySize);
                                $('#storySprint').val(storySprint);
                                $('#StoryBelongsToASprint').val(storySprint);
                                $('#StoryFinished').val(storyFinished);
                                $('#isScrumMaster').val(isScrumMaster);
                                $('#isProductManager').val(isProductManager);

                                {{!-- se pokaze gumb ce kartico lahko urejamo --}}
                                {{!-- ce lahko urejamo + brisemo --}}
                                {{!-- ce je user --}}

                                //pravice kdo lahko in v katerih primerih
                                if (isScrumMaster == true || isProductManager == true) {
                                      if (storyFinished == false && storySprint == 0) {
                                      document.getElementById("editButton").style.display="block";
                                      document.getElementById("deleteButton").style.display="block";
                                      document.getElementById("editButtonDisabled").style.display="none";
                                      document.getElementById("deleteButtonDisabled").style.display="none";
                                    } else {
                                      document.getElementById("editButtonDisabled").style.display="block";
                                      document.getElementById("deleteButtonDisabled").style.display="block";
                                      document.getElementById("editButton").style.display="none";
                                      document.getElementById("deleteButton").style.display="none";

                                    }

                                } else if (isTeamMember) {
                                  document.getElementById("editButtonDisabled").style.display="block";
                                  document.getElementById("deleteButtonDisabled").style.display="block";
                                  document.getElementById("editButton").style.display="none";
                                  document.getElementById("deleteButton").style.display="none";
                                } else {
                                document.getElementById("editButtonDisabled").style.display="block";
                                  document.getElementById("deleteButtonDisabled").style.display="block";
                                  document.getElementById("editButton").style.display="none";
                                  document.getElementById("deleteButton").style.display="none";
                                }


                                // 2. acceptance tests
                                //prikazovanje
                                {{!-- acceptance tests - to je tabela --}}
                                {{!-- kjer je , bomo brejkal --}}
                                let string = storyTests.toString();
                                let result = string.replace(/,/g, '<br>');
                                {{!-- console.log(result); --}}

                                $('#storyAcceptanceTests').html(result);

                                //kdo in v katerih primerih
                                
                                  if (isScrumMaster || isProductManager) {
                                    if (storySprint != 0 && storyFinished == false) {
                                    
                                    document.getElementById("addTestEnabled").style.display="none";
                                    document.getElementById("addTestDisabled").style.display="block";
                                    //disabled button
                                  } else {
                                    document.getElementById("addTestEnabled").style.display="block";
                                    document.getElementById("addTestDisabled").style.display="none";
                                    //enabled button
                                  }
                                } else {
                                  document.getElementById("addTestEnabled").style.display="none";
                                    document.getElementById("addTestDisabled").style.display="block";
                                }

                                // 3. subtasks (naloge)
                                {{!-- tasks - objekti --}}
                                // pravice dodajanja novega taska
                                // dodaja lahko scrum master ali clani razvojne skupine
                                // v primeru da je zgodba znotraj aktivnega sprinta

                                if (isScrumMaster || isTeamMember) {
                                    if (sprintsInProgress == storySprint) {
                                    // lahko doda - enabled
                                    document.getElementById("addTaskEnabled").style.display="block";
                                    document.getElementById("addTaskDisabled").style.display="none";
                                    console.log("Dodeljen sprint je tekoc sprint.");
                                    } else {
                                      //nemore dodat - disabled
                                    document.getElementById("addTaskEnabled").style.display="none";
                                    document.getElementById("addTaskDisabled").style.display="block";
                                    }
                                } else {
                                  document.getElementById("addTaskEnabled").style.display="none";
                                    document.getElementById("addTaskDisabled").style.display="block";
                                }
                                
                              
                                  function functionFirstLetterS(value) {
                                              if (value == null) {
                                                value = "null";
                                              }
                                              let letter = value.charAt(0);
                                              letter = letter.toUpperCase();
                                              return letter;
                                  }
                                // 2. izpis vseh subtaskov - ista fora kokr komenti - spajamo skp stringe
                                let arrayS = storySubtasks;
                                console.log(arrayS)
                                var name = '';
                                var hour = '';
                                var assignee = '';
                                var idsub = '';
                                var subtasksString = '';
                                for (j in arrayS) {
                                  name = arrayS[j].name;
                                  hour = arrayS[j].hours;
                                  idsub = arrayS[j]._id;
                                  assignee = functionFirstLetterS(arrayS[j].subtaskOwnerUsername);
                                  console.log(name, hour, assignee);
                                  subtasksString = subtasksString + '<div class="row" style="padding: 0px !important; height: 55px !important"><div class="col-lg-9"><label for="tasks" style="color: var(--c3) !important; padding-left: 15px !important"><input type="checkbox" name="tasks" id="tasks" aria-describedby="emailHelp"/ ><span style="padding-left: 10px !important">';
                                  // name of subtask
                                  subtasksString = subtasksString + arrayS[j].name + ' [' + arrayS[j].hours + 'h]' + '</span></label></div>';
                                  {{!-- $('#editTaskButton1').attr("data-namesub", name);
                                  $('#editTaskButton1').attr("data-hoursub", hour);
                                  $('#editTaskButton1').attr("data-asub", assignee); --}}
                                  
                                  // add owner
                                  subtasksString = subtasksString + '<div class="col-lg-3"><a data-toggle="modal" data-target="#modalEditTask" data-idproject="'+projId+'" data-iduserstory="'+storyId+'" data-idsubtask="'+idsub+'" data-namesub="'+name+'" data-hoursub="'+hour+'" data-asub="'+assignee+'" id="editTaskButton1" style="padding: 7px !important"><button type="button"  class="btn button-mini" style="background-color: var(--c5)!important; float:right; margin-left:5px;">Edit</button></a><button  id="taskOwner_circle" type="button" class="btn btn-dark open-collaboratorEdit" style="float:right; background-color: var(--c3) !important" disabled>';
                                  subtasksString = subtasksString + functionFirstLetterS(arrayS[j].subtaskOwnerUsername);
                                  subtasksString = subtasksString + '</button></div></div>';
                                  //add edit button with id
                                  
                                
                                }
                                
                                console.log(subtasksString);
                                $('#addnewSubtask1').html(subtasksString);


                                // 4. komentarji
                                {{!-- commentOwnerUsername --}}
                                {{!-- comments --}}

                                // prikazovanje komentarjev
                                let array = storyComments;
                                function functionFirstLetter(value) {
                                    let letter = value.charAt(0);
                                    letter = letter.toUpperCase();
                                    return letter;
                                }
                                var commentsString = '';
                                for (j in array) {
                                  //comment owners
                                  //prefix
                                  commentsString = commentsString + '<div class="row" style="height: 80px !important; padding: 5px !important"><div class="col-lg-1"><div style="margin-left: 0px !important"><button id="taskOwner_circle" type="button" class="btn btn-dark open-collaboratorEdit" style="background-color: var(--c3) !important" disabled>';
                                  //postfix
                                  commentsString = commentsString + functionFirstLetter(array[j].commentOwnerUsername) + '</button></div></div>';
                                  //comments
                                  //prefix
                                  commentsString = commentsString + '<div class="col-lg-11" style="color: var(--c3)!important; padding-top: 10px !important">';
                                  //postfix
                                  commentsString = commentsString + array[j].comment + '</div></div>';
                                }


                               
                                $('#storyCommentsAll').html(commentsString);

                                //pravice dodajanja komentarjev - team members 
                                if (isTeamMember) {
                                  document.getElementById("addCommentsButtonEnabled").style.display="block";
                                  document.getElementById("addCommentsButtonDisabled").style.display="none";
    
                                } else {
                                  document.getElementById("addCommentsButtonDisabled").style.display="block";
                                  document.getElementById("addCommentsButtonEnabled").style.display="none";
                                }
                                
                                {{!-- za input za username od trenutno prijavnega uporabnika --}}
                                $('#commentOwnerUsername').val(commentOwnerUsername);



                                // url-ji za 1., 2., 3., 4. kam se posiljajo podatki
                                 
                                var editBasicInfo = '/project/'+ projId + '/userStory/'+ storyId + '/edit-info';
                                $('#editBasicInfo').attr("action", editBasicInfo);
                                var urlDelete = '/project/'+ projId + '/userStory/'+ storyId + '/delete';
                                $('#urlDelete').attr("action", urlDelete);


                                var urlAddTests = '/project/'+ projId + '/userStory/'+ storyId + '/add-test';
                                $('#urlAddTests').attr("action", urlAddTests);

                                var urlAddComment = '/project/'+ projId + '/userStory/'+ storyId + '/add-comment';
                                 $('#urlAddComment').attr("action", urlAddComment);

                                console.log(storyId)
                                 var urlAddSubtask = '/project/' + projId + '/userStory/' + storyId + '/add-subtask';
                                 $('#urlAddSubtask').attr("action", urlAddSubtask);


                            });

                            
                    </script>


      

      <div class="modal fade" id="modalnoOknoStory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content modal-content-ekipa" style = "border: 3px solid var(--c2) !important;">
                <div class="modal-header modal-header-ekipa">
                  <h5 class="modal-title" id="StoryName" style="padding-top=10px; !important">{{story.name}}</h5> <!-- ni znotraj each in mi ne dela -->
                  <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                {{!-- zavihki za uporabnisko --}}
              <ul class="nav nav-tabs">
                  <li class="active"><a class="nav-link" data-toggle="tab" href="#info" onclick="location.href='#info'">Edit information</a></li>
                  <li><a class="nav-link" data-toggle="tab" href="#atest" onclick="location.href='#atest'">Add acceptance tests</a></li>
                  <li><a class="nav-link" data-toggle="tab" href="#tasks" onclick="location.href='#tasks'">Add and edit tasks</a></li>
                  <li><a class="nav-link" data-toggle="tab" href="#comments" onclick="location.href='#comments'">Add a comment</a></li>
                </ul>

                <!-- Tab 1 - Information -->
                <div class="tab-content">
                <div id="info" class=" active tab-pane fade">
                <div class="modal-body">
                  <form method="post" id="editBasicInfo" action="">

                    <div class = "row" style="padding-left: 0px !important;">

                    <!-- Name -->
                    <div class="mb-3 col-lg-10" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Name</label>
                            <input class="form-control input-form" name="name" id="StoryName1" aria-describedby="emailHelp" required>
                            <input class="form-control input-form" name="nameOrig" id="StoryName2" aria-describedby="emailHelp" hidden>
                    </div>

                      <!-- Assigned -->
                    <div class="storyOwner_circle-d col-lg-2" style="padding-right: 50px !important; padding-top: 40px !important;">
                        <button  id="storyOwner_circle" type="button" class="btn btn-dark open-collaboratorEdit" data-toggle="modal" data-target="#modalEditUser">
                            N
                        </button>
                    </div>
                    </div>

                  
                      <!-- Description -->
                    <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Description</label>
                            <textarea class="form-control input-form-lg" name="aboutText"  id="storyDescription" aria-describedby="emailHelp" required></textarea>
                    </div>

                      <!-- Priority -->
                    <div class="mb-3" style="padding-bottom: 10px !important; width: 49% !important; float: Left;">
                            <label class="form-label" style="padding-top: 10px !important">Priority</label>
                            <input class="form-control input-form" name="priority" id="storyPriority"  list="priority_list"aria-describedby="emailHelp" required>
                            <datalist id="priority_list">
                            <option value="Must have">  </option>
                            <option value="Should have"></option>
                            <option value="Could have"></option>
                            <option value="Won't have this time"></option>

                            </datalist>
                    </div>
                    <div class="clear"></div>
                    <!-- value --->
                    <div class="mb-3" style="padding-bottom: 10px !important; width: 49% !important; float: Right">
                        <label class="form-label" style="padding-top: 10px !important">Business value</label>
                        <input class="form-control input-form" name="businessValue" id="storyBusinessValue" aria-describedby="emailHelp" type="number" min="1" max="10" required>
                    </div>

                    <!-- Size --->
                    <div class="mb-3" style="padding-bottom: 10px !important; width: 49% !important; float: Left;">
                        <label class="form-label" style="padding-top: 10px !important">Size</label>
                        <input class="form-control input-form" name="size" id="storySize" aria-describedby="emailHelp" type="number" min="1" required>
                    </div>
                    <div class="clear"></div>
                    <!-- Sprint -->
                    <div class="mb-3" style="padding-bottom: 10px !important; width: 49% !important; float: Right">
                        <label class="form-label" style="padding-top: 10px !important">Sprint</label>
                        <input class="form-control input-form" name="sprint" id="storySprint" type="number" min="0" aria-describedby="emailHelp">
                        <!-- placeholder sprint if already defined? -->
                    </div>


                    <br><br>



                      <!-- se pogoji kdo lahko spreminja pa pod katerimi pogoji-->

                      <button id="editButtonDisabled" type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: Left; !important" disabled>Save changes</button>
                      <button id="editButton" type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: Left; !important">Save changes</button>

                      </form>

                      <form id="urlDelete" method="post" action="">
                      <button id="deleteButtonDisabled" type="submit" class="btn submit-form" style="background-color: var(--c1)!important; float: Right; !important" disabled>Delete story</button>
                      <button id="deleteButton" type="submit" class="btn submit-form" style="background-color: var(--c1)!important; float: Right; !important">Delete story</button>
                      </form>
              </div>


                </div>

              <!-- Tab 2 - Acceptance test -->
              <div id="atest" class="tab-pane fade">
              <div class="modal-body">
                  <form method="post" id="urlAddTests" action="">

                    <!-- Acceptance tests -->
                    <div  class="mb-3" >
                      <!-- verjetno each -->
                        <p  id="storyAcceptanceTests" style="color: var(--c1) !important;"></p>

                    </div>

                      <!-- Add acceptance test - form -->
                    <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Add acceptance test</label>
                            <input class="form-control input-form" name="tests" id="info" aria-describedby="emailHelp" required>
                    </div>

                    <!-- Add test -->
                      <button id="addTestEnabled" type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: right; !important">Add</button>
                      <button id="addTestDisabled" type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: right; !important" disabled>Add</button>

                </form>
              </div> <!-- end modal body -->


              </div>

              <!-- Tab 3 - Tasks -->
              <div id="tasks" class="tab-pane fade">
              <div class="modal-body">
                  

                    <!-- Tasks -->
                    <div id ="allSubtasksStory" class="mb-3" style="padding-bottom: 10px !important">

                      {{!-- tjasaaaa tle se renderira--}}
                      <div id="addnewSubtask1">
                        <script>
                        $(document).on("click", "#editTaskButton1", function () {
                                var subtaksName = $(this).data('namesub');
                                var subtaskHour = $(this).data('hoursub');
                                var subtaskOwner = $(this).data('asub');

                                //rabim se idprojekt, idstorie, idtask
                                
                                var projID = $(this).data('idproject');
                                var storyID = $(this).data('iduserstory');
                                var subtaskID = $(this).data('idsubtask');

                                console.log(subtaksName, subtaskHour, subtaskOwner);
                                $('#nameTaskEditing').val(subtaksName);
                                $('#hourTaskEditing').val(subtaskHour);

                                //url za put in delete
                                
                                
                                 var urlEditSubtask = '/project/' + projID + '/userStory/' + storyID + '/subtask/' + subtaskID + '/edit-subtask';
                                 $('#urlEditSubtask').attr("action", urlEditSubtask);
                                  
                                var urlDeleteSubtask = '/project/' + projID + '/userStory/' + storyID + '/subtask/' + subtaskID + '/delete';
                                $('#urlDeleteSubtask').attr("action", urlDeleteSubtask);

                                console.log(urlEditSubtask, urlDeleteSubtask);


                            });
                            </script>
                      </div>
                    </div>

                    <!-- Add new tasks -form-->
                    <form method="post" id="urlAddSubtask" action="">
                    <div id=" ">
                    <div class="mb-3" style="padding-bottom: 10px !important; width: 84% !important; float: Left;">
                            <label class="form-label" style="padding-top: 10px !important;">Add task</label>
                            <input class="form-control input-form" name="name" id="info" aria-describedby="emailHelp" required>

                    </div>
                    <div class="clear"></div>
                    <div class="mb-3" style="padding-bottom: 10px !important; width: 14% !important; float: Right;">
                            <label class="form-label" style="padding-top: 10px !important;">Hours</label>
                            <input class="form-control input-form" name="hour" id="taskHours" type="number" min="1" aria-describedby="emailHelp" required>
                    </div>

                    <!-- save changes -->
                    <button id="addTaskEnabled"type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: right; !important">Add</button>
                    <button id="addTaskDisabled"type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: right; !important" disabled>Add</button>
                    </div>
                    </form>
              </div> <!-- end modal body -->
              </div>

              <!-- Tab 4 - Comments -->
              <div id="comments" class="tab-pane fade">
              <div class="modal-body">


                    <!-- All comments -->
                    <!-- sm pridejo komentarji? -->
                    <div id="storyCommentsAll" style="padding: 0px !important">
                      
                    </div>
                    

                      <!-- Add comment -form -->
                      <div id="addCommentForm">
                       <form method="post" id="urlAddComment" action="">
                    <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Add comment</label>
                            <input class="form-control input-form" name="commentOwnerUsername" id="commentOwnerUsername" aria-describedby="emailHelp" hidden>
                            <textarea class="form-control input-form-lg" name="comment" id="info" aria-describedby="emailHelp" required></textarea>
                    </div>

                    <!-- save changes -->
                      <button id="addCommentsButtonEnabled" type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: right; !important">Comment</button>
                      <button id="addCommentsButtonDisabled" type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: right; !important" disabled>Comment</button>
                  </form>
                  </div>
              </div> 
              </div>

            </div>
        </div>
        </div>
        </div>

        {{!-- modalno okno za spreminjanje lastnika kartice --}}
                        <div class="modal" id="modalEditUser" tabindex="-1" role="dialog" aria-hidden="true">
                          <div class="modal-dialog" style="padding-top: 150px !important;">
                            <div class="modal-content modal-content-ekipa" style="background-color: var(--c2) !important; box-shadow: rgba(0, 0, 0, 0.24) 6px 6px 7px;">
                                <div class="modal-header" style="background-color: var(--c2) !important;">
                                <h5 class="modal-title" id="exampleModalLabel" style="padding-top=10px; !important">Edit User story assignee</h5>
                                
                                </div>
                                <div class="modal-body">

                                 <!-- Current assignee -->
                                  <div class="mb-3" style="padding-bottom: 10px !important;">
                                    <label class="form-label" style="padding-top: 10px !important;">Current assignee</label>
                                    <input class="form-control input-form" style="background-color: rgb(196, 196, 196) !important" name="currAssignee" id="currAssignee" aria-describedby="emailHelp" readonly>
                                  </div>
                                  
                                  <!-- New assignee -->
                                  <div class="mb-3" style="padding-bottom: 10px !important;">
                                    <label class="form-label" style="padding-top: 10px !important;">New assignee</label>
                                    <input class="form-control input-form" name="newAssignee" id="newAssignee" aria-describedby="emailHelp" required>
                                  </div>

                                  <br>
                                  <!-- save changes -->
                                  <button id="changeAssignee" type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: right; !important">Save changes</button>
                                                                 
                                </div>
                              </div>
                            </div>
                        </div>
                        <!-- end second modal window -->

                      {{!-- modalno okno za spreminjanje nalog --}}
                        <div class="modal" id="modalEditTask" tabindex="-1" role="dialog" aria-hidden="true">
                          <div class="modal-dialog" style="padding-top: 150px !important;">
                            <div class="modal-content modal-content-ekipa" style="background-color: var(--c2) !important; box-shadow: rgba(0, 0, 0, 0.24) 6px 6px 7px;">
                                <div class="modal-header" style="background-color: var(--c2) !important;">
                                <h5 class="modal-title" id="exampleModalLabel" style="padding-top=10px; !important">Edit task</h5>
                                <a href="#" data-dismiss="modal" hidden><button type="button" class="close"> 
                                <span aria-hidden="true">&times;</span>
                                </button></a> 
                                </div>
                                <div class="modal-body">
                                  <form method="post" action="" id="urlEditSubtask">
                                  <!-- Edit existing tasks -->
                                  <div class="mb-3" style="padding-bottom: 10px !important; width: 84% !important; float: Left;">
                                    <label class="form-label" style="padding-top: 10px !important;">Task</label>
                                    <input id="nameTaskEditing" class="form-control input-form" name="name" id="info" aria-describedby="emailHelp" required> <!-- placeholder in value -->
                                  </div>
                                  <div class="clear"></div>
                                  <div class="mb-3" style="padding-bottom: 10px !important; width: 14% !important; float: Right;">
                                    <label class="form-label" style="padding-top: 10px !important;">Hours</label>
                                    <input id="hourTaskEditing" class="form-control input-form" name="hour" id="taskHours" type="number" min="1" aria-describedby="emailHelp" required> <!-- placeholder in value -->
                                  </div>

                                  <br>

                                  <a ><button id="urlEditSubtask" type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: Left; !important">Save changes</button></a>
                                  </form>
                                  <form method="post" action="" id="urlDeleteSubtask">
                                  <a ><button id="urlDeleteSubtask" type="submit" class="btn submit-form" style="background-color: var(--c1)!important; float: Right; !important">Delete task</button></a>
                               </form>
                                </div>
                              </div>
                            </div>
                        </div>
                      <!-- end second modal window -spreminjanje nalog -->

                      {{!-- modalno okno za spreminjanje lastnika naloge --}}
                        <div class="modal" id="modalEditTaskUser" tabindex="-1" role="dialog" aria-hidden="true">
                          
                          <div class="modal-dialog" style="padding-top: 150px !important;">
                            <div class="modal-content modal-content-ekipa" style="background-color: var(--c2) !important; box-shadow: rgba(0, 0, 0, 0.24) 6px 6px 7px;">
                                <div class="modal-header" style="background-color: var(--c2) !important;">
                                <h5 class="modal-title" id="exampleModalLabel" style="padding-top=10px; !important">Edit task assignee</h5>
                                
                                </div>
                                <div class="modal-body">

                                 <!-- Current assignee -->
                                  <div class="mb-3" style="padding-bottom: 10px !important;">
                                    <label class="form-label" style="padding-top: 10px !important;">Current assignee</label>
                                    <input class="form-control input-form" style="background-color: rgb(196, 196, 196) !important" name="currTaskAssignee" id="currTaskAssignee" aria-describedby="emailHelp" readonly>
                                  </div>
                                  
                                  <!-- New assignee -->
                                  <div class="mb-3" style="padding-bottom: 10px !important;">
                                    <label class="form-label" style="padding-top: 10px !important;">New assignee</label>
                                    <input class="form-control input-form" name="newTaskAssignee" id="newTaskAssignee" aria-describedby="emailHelp" required>
                                  </div>

                                  <br>
                                  <!-- save changes -->
                                  <button id="changeAssignee" type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: right; !important">Save changes</button>
                                                                 
                                </div>
                              </div>
                            </div>
                        </div>
                        <!-- end second modal window -spreminjanje lastnika naloge -->

        



        {{!-- nova uporabniska zgodba -> samo product manager pa scrum master --}}
        {{#if scrumMaster}}
        <a href="/project/{{id}}/new-user-story"><button id="" type="button" class="btn btn-dark dodaj-uporabnika fixed-bottom float-right" style="background-color: var(--c1) !important; border: 3px solid var(--c1) !important"><i class="fa-solid fa-plus dodaj"></i></button></a><br>
        {{/if}}
        {{#if productManager}}
        <a href="/project/{{id}}/new-user-story"><button id="" type="button" class="btn btn-dark dodaj-uporabnika fixed-bottom float-right" style="background-color: var(--c1) !important; border: 3px solid var(--c1) !important"><i class="fa-solid fa-plus dodaj"></i></button></a><br>
        {{/if}}

</div>

{{!-- sprinti --}}
{{!-- modalno okno za spreminjanje trenutnih sprintov --}}
<div class="modal fade" id="modalnoOknoColl1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-ekipa">
            <div class="modal-header modal-header-ekipa">
            <h5 class="modal-title" id="exampleModalLabel" style="padding-top=10px; !important">Edit sprint info</h5>
            <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <form method="post" id="sprintEdit" action="url">
                  <div class="mb-3">
                      <label class="form-label">From</label>
                      <div class="row" style="padding: 0px !important">
                          <div class="col-lg-10"><input class="form-control input-form" style="background-color: rgb(196, 196, 196) !important" name="" id="inputStart" aria-describedby="emailHelp" readonly></div>
                      </div>
                  </div>
                  <div class="mb-3">
                      <label class="form-label">To</label>
                      <div class="row" style="padding: 0px !important">
                          <div class="col-lg-10"><input class="form-control input-form" style="background-color: rgb(196, 196, 196) !important" name="" id="inputEnd" aria-describedby="emailHelp" readonly></div>
                      </div>
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Sprint size</label>
                      <div class="row" style="padding: 0px !important">
                          <div class="col-lg-10"><input class="form-control input-form" style="background-color: rgb(196, 196, 196) !important" name="" id="inputSprintSize" aria-describedby="emailHelp" readonly></div>
                      </div>
                  </div>
                  <div class="mb-3" style="padding-bottom: 10px !important">
                      <label class="form-label" style="padding-top: 10px !important">New sprint size:</label>
                      <input class="form-control input-form" type="number" min="1" name="sprintSize" id="sprintsize" aria-describedby="emailHelp" required>
                  </div>
                  <button type="submit" class="btn submit-form" style="background-color: var(--c5)!important; !important">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>


{{!-- modalno okno za spreminjanje sprintov v prihodnosti--}}
<div class="modal fade" id="modalnoOknoColl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-ekipa">
            <div class="modal-header modal-header-ekipa">
            <h5 class="modal-title" id="exampleModalLabel" style="padding-top=10px; !important">Edit sprint info</h5>
            <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <form method="post" id="sprintEditAll" action="url">
                <div class="mb-3">
                    <label class="form-label">From</label>
                    <div class="row" style="padding: 0px !important">
                        <div class="col-lg-10"><input class="form-control input-form" style="background-color: rgb(196, 196, 196) !important" name="" id="startDate" aria-describedby="emailHelp" readonly></div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">To</label>
                    <div class="row" style="padding: 0px !important">
                        <div class="col-lg-10"><input class="form-control input-form" style="background-color: rgb(196, 196, 196) !important" name="" id="endDate" aria-describedby="emailHelp" readonly></div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Sprint size</label>
                    <div class="row" style="padding: 0px !important">
                        <div class="col-lg-10"><input class="form-control input-form" style="background-color: rgb(196, 196, 196) !important" name="" id="sprintSize" aria-describedby="emailHelp" readonly></div>
                    </div>
                </div>
                <div class="mb-3" style="padding-bottom: 10px !important">
                  <label class="form-label" style="padding-top: 10px !important">New start date</label>
                  <input class="form-control input-form" name="startDate" type="date" id="inputStart" name="trip-start">
              </div>
              <div class="mb-3" style="padding-bottom: 10px !important">
                  <label class="form-label" style="padding-top: 10px !important">New end date</label>
                  <input class="form-control input-form" name="endDate"  type="date" id="inputEnd" name="trip-end">
              </div>
              <div class="mb-3" style="padding-bottom: 10px !important">
                  <label class="form-label" style="padding-top: 10px !important">New sprint size</label>
                  <input class="form-control input-form" type="number" min="1" name="sprintSize" id="sprintsize" aria-describedby="emailHelp" required>
              </div>
                <div style="padding: 10px !important">
              <button type="submit" class="btn submit-form" style="background-color: var(--c5)!important; !important">Save changes</button>
              </form>
              <!-- remove collaborator -->
              <form action="url" method="post" id="deleteSprint">
              <div>
              <button type="submit" class="btn submit-form" style="margin-top: -50px !important; background-color: var(--c1)!important; float: right !important; width: 200px !important">Delete sprint</button>
              </div>
              </form>
          </div>
            </div>
        </div>
    </div>
</div>

<div id="modalnoOknoCollPrekrivanje" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Failed!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>In this time Sprint {{number}} is already running!</p>
                </div>

                </div>
            </div>
        </div>


<div id="modalnoOknoCollNapakaStart" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Failed!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Start date can't be in the past!</p>
                </div>

                </div>
            </div>
        </div>

<div id="modalnoOknoCollNapakaEnd" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Failed!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>End date can't be in the past!</p>
                </div>

                </div>
            </div>
        </div>

<div id="modalnoOknoCollNapakaStartEnd" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Failed!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Start and end date can't be in the past!</p>
                </div>

                </div>
            </div>
        </div>

<div id="modalnoOknoCollNapakaDate" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Failed!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Start date must be before end date!</p>
                </div>

                </div>
            </div>
        </div>

<div id="modalnoOknoCollSize" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Failed!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This size is too big for the number of days for this sprint!</p>
                </div>

                </div>
            </div>
        </div>

{{#if prekrivanje}}
<script>
    $(document).ready(function(){
        $("#modalnoOknoCollPrekrivanje").modal('show');

        setTimeout(function() {

            $('#modalnoOknoCollPrekrivanje').modal('hide');
        }, 7000);
    });
</script>
{{/if}}
{{#if startPast}}
<script>
    $(document).ready(function(){
        $("#modalnoOknoCollNapakaStart").modal('show');
        setTimeout(function() {

            $('#modalnoOknoCollNapaka').modal('hide');
        }, 7000);
    });
</script>
{{/if}}
{{#if endPast}}
<script>
    $(document).ready(function(){
        $("#modalnoOknoCollNapakaEnd").modal('show');
        setTimeout(function() {

            $('#modalnoOknoCollNapakaEnd').modal('hide');
        }, 7000);
    });
</script>
{{/if}}
{{#if startEndPast}}
<script>
    $(document).ready(function(){
        $("#modalnoOknoCollNapakaStartEnd").modal('show');
        setTimeout(function() {

            $('#modalnoOknoCollNapakaStartEnd').modal('hide');
        }, 7000);
    });
</script>
{{/if}}
{{#if correctDate}}
<script>
    $(document).ready(function(){
        $("#modalnoOknoCollNapakaDate").modal('show');
        setTimeout(function() {

            $('#modalnoOknoCollNapakaDate').modal('hide');
        }, 7000);
    });
</script>
{{/if}}
{{#if sizeBig}}
<script>
    $(document).ready(function(){
        $("#modalnoOknoCollSize").modal('show');

        setTimeout(function() {

            $('#modalnoOknoCollSize').modal('hide');
        }, 7000);
    });
</script>
{{/if}}

      <div id="sprints" class="tab-pane fade">


      <div class="row" style="">
        {{!---prikaz dodanih sprintov, ki se jih pridobi iz apija --}}
        {{#each finishedSprints as |sprint|}}
            <div class="card projekt-sprint col-sm-3" style="background-color: var(--c5)!important">
              <div class="card-body">
                <h4 ><b>Sprint {{number}}</b></h4>
                <p><span>From:</span> {{formatirajDatum sprint.startDate}}<br>
                <span>To:</span> {{formatirajDatum sprint.endDate}}<br><br>
                <span>Sprint size:</span> {{sprint.sprintSize}}</p>

              </div>
            </div>

        {{/each}}
         {{!---prikaz dodanih sprintov, ki se jih pridobi iz apija --}}
         {{#if scrumMaster}}
        {{#each inProcessSprints as |sprint|}}
            <div class="card projekt-sprint col-sm-3" style="background-color: var(--c4)!important">
              <div class="card-body">
                <h4 ><b>Sprint {{number}}</b></h4>
                <p><span>From:</span> {{formatirajDatum sprint.startDate}}<br>
                <span>To:</span> {{formatirajDatum sprint.endDate}}<br><br>
                <span>Sprint size:</span> {{sprint.sprintSize}}</p>
                <button type="button" data-toggle="modal" data-proj="{{../id}}" data-id="{{sprint._id}}" data-start="{{formatirajDatum sprint.startDate}}" data-end="{{formatirajDatum sprint.endDate}}" data-size="{{sprint.sprintSize}}" data-target="#modalnoOknoColl1" class="btn btn-dark projekt-management-button" style="background-color: var(--c1) !important; float: left !important;">
                  Edit sprint
                </button>
                <button type="button" class="btn btn-dark projekt-management-button" style="background-color: var(--c5) !important; float: right !important;">
                  Go to Sprint
                </button>

                <script>
                        $(document).on("click", ".projekt-management-button", function () {
                            var projectId = $(this).data('proj');
                            var sprintId = $(this).data('id');
                            var eventStart = $(this).data('start');
                            var eventEnd = $(this).data('end');
                            var sprintSize = $(this).data('size');
                             $('#inputStart').val(eventStart);
                             $('#inputEnd').val(eventEnd);
                             $('#inputSprintSize').val(sprintSize);
                            var str = '/sprints/' + projectId + '/sprint-edit/' + sprintId + '?startDate=' + eventStart + '&endDate=' + eventEnd;
                             $('#sprintEdit').attr("action", str);
                        });
                </script>
              </div>
            </div>
          {{!-- gumba za edit projectov --}}
        {{/each}}
        {{else}}
        {{#each inProcessSprints as |sprint|}}
            <div class="card projekt-sprint col-sm-3" style="background-color: var(--c4)!important">
              <div class="card-body">
                <h4 ><b>Sprint {{number}}</b></h4>
                <p><span>From:</span> {{formatirajDatum sprint.startDate}}<br>
                <span>To:</span> {{formatirajDatum sprint.endDate}}<br><br>
                <span>Sprint size:</span> {{sprint.sprintSize}}</p>
              </div>
            </div>
          {{!-- gumba za edit projectov --}}
        {{/each}}
        {{/if}}
        {{#if scrumMaster}}
        {{#each futureSprints as |sprint|}}
            <div class="card projekt-sprint col-sm-3" style="background-color: var(--c2)!important">
              <div class="card-body">
                <h4 ><b>Sprint {{number}}</b></h4>
                <p><span>From:</span> {{formatirajDatum sprint.startDate}}<br>
                <span>To:</span> {{formatirajDatum sprint.endDate}}<br><br>
                <span>Sprint size:</span> {{sprint.sprintSize}}</p>
                <button type="button" data-toggle="modal" data-proj="{{../id}}" data-id="{{sprint._id}}" data-start="{{formatirajDatum sprint.startDate}}" data-end="{{formatirajDatum sprint.endDate}}" data-size="{{sprint.sprintSize}}" data-target="#modalnoOknoColl" class="btn btn-dark projekt-management-button" style="background-color: var(--c1) !important; float: left !important;">
                  Edit Sprint
                </button>
                <button type="button" class="btn btn-dark projekt-management-button" style="background-color: var(--c5) !important; float: right !important;">
                  Go to Sprint
                </button>
                <script>
                        $(document).on("click", ".projekt-management-button", function () {
                          var projectId = $(this).data('proj');
                          var sprintId = $(this).data('id');
                          var eventStart = $(this).data('start');
                          var eventEnd = $(this).data('end');
                          var sprintSize = $(this).data('size');
                           $('#startDate').val(eventStart);
                           $('#endDate').val(eventEnd);
                            $('#sprintSize').val(sprintSize);
                          var str = '/sprints/' + projectId + '/sprint-edit-all/' + sprintId;
                          var strD = '/sprints/' + projectId + '/delete-sprint/' + sprintId;
                           $('#sprintEditAll').attr("action", str);
                           $('#deleteSprint').attr("action", strD);
                        });
                </script>
              </div>
            </div>
          {{!-- gumba za edit projectov --}}
        {{/each}}
        {{else}}
        {{#each futureSprints as |sprint|}}
            <div class="card projekt-sprint col-sm-3" style="background-color: var(--c2)!important">
              <div class="card-body">
                <h4 ><b>Sprint {{number}}</b></h4>
                <p><span>From:</span> {{formatirajDatum sprint.startDate}}<br>
                <span>To:</span> {{formatirajDatum sprint.endDate}}<br><br>
                <span>Sprint size:</span> {{sprint.sprintSize}}</p>
              </div>
            </div>
          {{!-- gumba za edit projectov --}}
        {{/each}}
        {{/if}}
      </div>
      {{#if scrumMaster}}
        {{!-- gumb za dodajanje novega sprinta - se pokae le e je prijavljen admin--}}
        <div><a href="/sprint-new/{{id}}"><button id="" type="button" class="btn btn-dark dodaj-uporabnika fixed-bottom float-right"><i class="fa-solid fa-plus dodaj"></i></button></a></div><br>
      {{/if}}




    </div>
</div>
</div>






<script type="text/javascript">
$(document).ready(function(){
    var anchorHash = window.location.href.toString();
    if( anchorHash.lastIndexOf('#') != -1 ) {
        anchorHash = anchorHash.substr(anchorHash.lastIndexOf('#'));
        if( $('a[href="'+ anchorHash +'"]').length > 0 ) {
            $('a[href="'+ anchorHash +'"]').trigger('click');
        }
    }
});
</script>

</div>



</div>

{{!-- ************************************* MODALNA OKNA USER FEEDBACK ****************************************************** --}}

{{!-- modal window if sprint was successfully added --}}
<div id="myModal31" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>New sprint has been successfully created!</p>
                </div>

                </div>
            </div>
        </div>

{{#if successfullyAddedSprint}}
<script>
    $(document).ready(function(){
        $("#myModal31").modal('show');

        setTimeout(function() {

            $('#myModal31').modal('hide');
        }, 7000);
    });
</script>
{{/if}}




{{!-- modal window if userStory was successfully added --}}
<div id="myModal40" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>New user story has been successfully created!</p>
                </div>

                </div>
            </div>
        </div>

{{#if successfullyAddedStory}}
<script>
    $(document).ready(function(){
        $("#myModal40").modal('show');

        setTimeout(function() {

            $('#myModal40').modal('hide');
        }, 7000);
    });
</script>
{{/if}}


{{!-- modal window if userStory was successfully edited --}}
<div id="myModal41" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>User story has been successfully updated!</p>
                </div>

                </div>
            </div>
        </div>

{{#if successfullyEditedStory}}
<script>
    $(document).ready(function(){
        $("#myModal41").modal('show');

        setTimeout(function() {

            $('#myModal41').modal('hide');
        }, 7000);
    });
</script>
{{/if}}


{{!-- modal window if userStory was successfully removed --}}
<div id="myModal42" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>User story has been successfully removed!</p>
                </div>

                </div>
            </div>
        </div>

{{#if successfullyRemovedStory}}
<script>
    $(document).ready(function(){
        $("#myModal42").modal('show');

        setTimeout(function() {

            $('#myModal42').modal('hide');
        }, 7000);
    });
</script>
{{/if}}

{{!-- modal window if acceptance test was successfully added --}}
<div id="myModal43" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Acceptance test has been successfully added!</p>
                </div>

                </div>
            </div>
        </div>

{{#if successfullyAddedAccepTest}}
<script>
    $(document).ready(function(){
        $("#myModal43").modal('show');

        setTimeout(function() {

            $('#myModal43').modal('hide');
        }, 7000);
    });
</script>
{{/if}}

{{!-- modal window if comment was successfully added --}}
<div id="myModal44" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Comment has been successfully added!</p>
                </div>

                </div>
            </div>
        </div>

{{#if successfullyAddedComment}}
<script>
    $(document).ready(function(){
        $("#myModal44").modal('show');

        setTimeout(function() {

            $('#myModal44').modal('hide');
        }, 7000);
    });
</script>
{{/if}}

{{!-- modal window if error occured while adding comment --}}
<div id="myModal45" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200" style="background-color: var(--c1) !important;">
                <div class="modal-header" style="background-color: var(--c1) !important">
                    <h5 class="modal-title">Whoops!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Your comment wasn't added!</p>
                </div>

                </div>
            </div>
        </div>

{{#if errorAddComment}}
<script>
    $(document).ready(function(){
        $("#myModal45").modal('show');

        setTimeout(function() {

            $('#myModal45').modal('hide');
        }, 7000);
    });
</script>
{{/if}}

{{!-- modal window if error occured while adding acceptance test --}}
<div id="myModal46" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200" style="background-color: var(--c1) !important;">
                <div class="modal-header" style="background-color: var(--c1) !important">
                    <h5 class="modal-title">Whoops!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Acceptance test wasn't added!</p>
                </div>

                </div>
            </div>
        </div>

{{#if errorAddAccepTest}}
<script>
    $(document).ready(function(){
        $("#myModal46").modal('show');

        setTimeout(function() {

            $('#myModal46').modal('hide');
        }, 7000);
    });
</script>
{{/if}}

{{!-- modal window if task was successfully added --}}
<div id="myModal47" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Task has been successfully added!</p>
                </div>

                </div>
            </div>
        </div>

{{#if successfullyAddedTask}}
<script>
    $(document).ready(function(){
        $("#myModal47").modal('show');

        setTimeout(function() {

            $('#myModal47').modal('hide');
        }, 7000);
    });
</script>
{{/if}}

{{!-- modal window if error occured while adding task --}}
<div id="myModal48" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200" style="background-color: var(--c1) !important;">
                <div class="modal-header" style="background-color: var(--c1) !important">
                    <h5 class="modal-title">Whoops!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Task wasn't added!</p>
                </div>

                </div>
            </div>
        </div>

{{#if errorAddTask}}
<script>
    $(document).ready(function(){
        $("#myModal48").modal('show');

        setTimeout(function() {

            $('#myModal48').modal('hide');
        }, 7000);
    });
</script>
{{/if}}

{{!-- modal window if task was successfully edited --}}
<div id="myModal49" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Task has been successfully edited!</p>
                </div>

                </div>
            </div>
        </div>
<!-- AnjaPopravi -->
{{#if successfullyAddedComment}}
<script>
    $(document).ready(function(){
        $("#myModal49").modal('show');

        setTimeout(function() {

            $('#myModal49').modal('hide');
        }, 7000);
    });
</script>
{{/if}}


{{!-- modal window if error occured while editing task --}}
<div id="myModal50" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200" style="background-color: var(--c1) !important;">
                <div class="modal-header" style="background-color: var(--c1) !important">
                    <h5 class="modal-title">Whoops!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Task wasn't edited!</p>
                </div>

                </div>
            </div>
        </div>
<!-- AnjaPopravi -->
{{#if successfullyAddedComment}}
<script>
    $(document).ready(function(){
        $("#myModal50").modal('show');

        setTimeout(function() {

            $('#myModal50').modal('hide');
        }, 7000);
    });
</script>
{{/if}}

{{!-- modal window if task assignee was successfully added/edited --}}
<div id="myModal51" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Task assignee has been successfully added!</p>
                </div>

                </div>
            </div>
        </div>
<!-- AnjaPopravi -->
{{#if successfullyAddedComment}}
<script>
    $(document).ready(function(){
        $("#myModal51").modal('show');

        setTimeout(function() {

            $('#myModal51').modal('hide');
        }, 7000);
    });
</script>
{{/if}}


{{!-- modal window if error occured while editing/adding task assignee --}}
<div id="myModal52" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200" style="background-color: var(--c1) !important;">
                <div class="modal-header" style="background-color: var(--c1) !important">
                    <h5 class="modal-title">Whoops!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Task assignee wasn't edited!</p>
                </div>

                </div>
            </div>
        </div>
<!-- AnjaPopravi -->
{{#if successfullyAddedComment}}
<script>
    $(document).ready(function(){
        $("#myModal52").modal('show');

        setTimeout(function() {

            $('#myModal52').modal('hide');
        }, 7000);
    });
</script>
{{/if}}


{{!-- modal window if comment was successfully added --}}
<div id="modalDelete" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Sprint has been successfully deleted!</p>
                </div>

                </div>
            </div>
        </div>

{{#if successfullyDeletedSprint}}
<script>
    $(document).ready(function(){
        $("#modalDelete").modal('show');

        setTimeout(function() {

            $('#modalDelete').modal('hide');
        }, 7000);
    });
</script>
{{/if}}


{{!-- modal window if comment was successfully added --}}
<div id="modalUpdate" class=" modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-s-200">
                <div class="modal-header" style="background-color: var(--c5) !important">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Sprint has been successfully updated!</p>
                </div>

                </div>
            </div>
        </div>

{{#if successfullyUpdatedSprint}}
<script>
    $(document).ready(function(){
        $("#modalUpdate").modal('show');

        setTimeout(function() {

            $('#modalUpdate').modal('hide');
        }, 7000);
    });
</script>
{{/if}}
