<div class="hbses">
<div class="row">


    <div class="col-sm-5 ">
        <div class="card account-info" style="background-color: var(--c4) !important;">
            <div class="card-body">
                <h5 class="card-title">Project information</h5>
            <p class="card-text"><span style="color: var(--c2) !important;">Project name:</span>
                    <br>
                    {{name}}

                    </p>
                    <p class="card-text"><span style="color: var(--c2) !important;">Project description:</span>
                    <br>
                    {{info}}
                    </p>
                    <a href="/projects/{{id}}"><button type="submit" class="btn submit-form" style="width: 240px !important; margin:5px !important; background-color: var(--c2) !important">Edit project information</button></a>
            </div>

        </div>
        <br>


        <div class="card account-info" style="background-color: var(--c4) !important;">
            <div class="card-body">
                <h5 class="card-title">Project collaborators</h5>
                {{#each collaborators as |collaborator|}}
                    <p class="card-text"><span style="color: var(--c2) !important;">{{collaborator.name}} {{collaborator.surname}}</span>
                    <br>
                    Username: {{collaborator.username}}<br>
                    Project role: {{collaborator.project_role}}
                    <br>

                    </p>
                    {{/each}}

                    <a href="/projects/{{id}}/edit-collaborator-roles"><button type="submit" class="btn submit-form" style="width: 240px !important; margin:5px !important; background-color: var(--c3) !important">Edit collaborator roles</button></a>
                    <a href="/projects/{{id}}/delete-collaborators"><button type="submit" class="btn submit-form" style="width: 220px !important; margin:5px !important; background-color: var(--c5) !important">Remove collaborators</button></a>

            </div>

        </div>
    </div>



<div class="col-sm-7">
        <div class="card user-add">
        <div class="card-body">
            <h5 class="card-title">Add a collaborator</h5>

                        <form id="posodobiUporabnika" method="post" style="">
                          <div class="mb-3 form-select">
                        <label class="form-label" style="padding-top: 5px !important">Collaborator</label>
                          <input class="form-control input-form" type="text" name="username" list="exampleList" required>
                            <datalist id="exampleList">
                                {{#each users as |user|}}
                            <option value="{{user.username}}"> 
                            </option>
                            {{/each}}
                            </datalist>
                            </div>

                        
                    
                        <div class="mb-3 form-select">
                        <label class="form-label" style="padding-top: 30px !important">Project role</label>
                          <input class="form-control input-form" type="text" name="project_role" list="exampleList1" required>
                            <datalist id="exampleList1">
                            <option value="Team Member">  </option>
                            <option value="Project Manager"></option>
                            <option value="Scrum Master"></option>
                            </datalist>
                            </div>

                        {{#if napaka}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">Project with this name already exists!</span>
                          </div>
                        {{/if}}
                        <div style="padding-top: 60px !important">
                        <button type="submit" class="btn submit-form">Submit</button>
                        </div>
                        </form>
                        </div>

                      </div>

</div>
</div>


</div>
