<div class="hbses">
<div class="row">


    <div class="col-sm-5 ">
        <div class="card account-info" style="background-color: var(--c4) !important;">
            <div class="card-body">
                <h5 class="card-title">Project information</h5>
            <p class="card-text"><span style="color: var(--c2) !important;">Project name:</span>
                    <br>
                    {{name}}

                    </p>
                    <p class="card-text"><span style="color: var(--c2) !important;">Project description:</span>
                    <br>
                    {{info}}
                    </p>

            </div>

        </div>
        <br>


        <div class="card account-info" style="background-color: var(--c4) !important;">
            <div class="card-body">
                <h5 class="card-title">Project collaborators</h5>
                {{#each collaborators as |collaborator|}}
                    <p class="card-text"><span style="color: var(--c2) !important;">{{collaborator.name}} {{collaborator.surname}}</span>
                    <br>
                    Username: {{collaborator.username}}<br>
                    Project role: {{collaborator.project_role}}
                    <br>

                    </p>
                    {{/each}}


            </div>

        </div>
    </div>



<div class="col-sm-7">
        <div class="card user-add">
        <div class="card-body">
            <h5 class="card-title">Edit project</h5>

                        <form id="posodobiUporabnika" method="post" style="">
                          <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Name</label>
                            <input class="form-control input-form" value="{{name}}" name="name" id="name" aria-describedby="emailHelp" required>
                        </div>

                        <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Project description</label>
                            <input class="form-control input-form" value="{{info}}" name="info" id="name" aria-describedby="emailHelp" required>
                        </div>

                        {{#if napaka}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">Project with this name already exists!</span>
                          </div>
                        {{/if}}
                        <div style="padding-top: 10px !important">
                        <button type="submit" class="btn submit-form">Submit</button>
                        </div>
                        </form>
                        </div>

                      </div>

</div>


</div>
