<div class="hbses">
<div class="row">


    <div class="col-sm-5 ">
        <div class="card account-info" style="background-color: var(--c4) !important;">
            <div class="card-body">
                <h5 class="card-title">Project information</h5>
            <p class="card-text"><span style="color: var(--c2) !important;">Project name:</span>
                    <br>
                    {{name}}

                    </p>
                    <p class="card-text"><span style="color: var(--c2) !important;">Project description:</span>
                    <br>
                    {{info}}
                    </p>

            </div>

        </div>
        <br>


        <div class="card account-info" style="background-color: var(--c4) !important;">
            <div class="card-body">
                <h5 class="card-title">Project collaborators</h5>
                {{#each collaborators as |collaborator|}}
                    <p class="card-text"><span style="color: var(--c2) !important;">{{collaborator.name}} {{collaborator.surname}}</span>
                    <br>
                    Username: {{collaborator.username}}<br>
                    Project role: {{collaborator.project_role}}
                    <br>

                    </p>
                    {{/each}}
                <a href="#add-collaborators" onclick="location.href='#add-collaborators'"><button id="ekipa" type="button" data-toggle="modal" data-target="#modalnoOknoEkipa" class="btn btn-dark dodaj-vekipo" style="background-color: var(--c1) !important; border: 3px solid var(--c1) !important"><i class="fa-solid fa-plus dodaj"></i></button></a>


            </div>

        </div>
    </div>



<div class="col-sm-7">
        <div class="card user-add">
        <div class="card-body">
            <h5 class="card-title">Edit project</h5>

                        <form id="posodobiUporabnika" method="post" style="">
                          <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Name</label>
                            <input class="form-control input-form" value="{{name}}" name="name" id="name" aria-describedby="emailHelp" required>
                        </div>

                        <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Project description</label>
                            <textarea class="form-control input-form-lg" name="info" id="info" aria-describedby="emailHelp" required>{{info}}</textarea>
                        </div>

                        {{#if napaka}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">Project with this name already exists!</span>
                          </div>
                        {{/if}}
                        <div style="padding-top: 10px !important">
                        <button type="submit" class="btn submit-form">Submit</button>
                        </div>
                        </form>
                        </div>

                      </div>
                      <div style="padding-top: 10px !important">
<!--<a href="/projects/{{id}}/add-collaborators"><button type="submit" class="btn submit-form" style="width: 200px !important; margin:5px !important; background-color: var(--c3) !important">Add collaborators</button></a>
<a href="/projects/{{id}}/edit-collaborator-roles"><button type="submit" class="btn submit-form" style="width: 240px !important; margin:5px !important; background-color: var(--c4) !important">Edit collaborator roles</button></a>
<a href="/projects/{{id}}/delete-collaborators"><button type="submit" class="btn submit-form" style="width: 220px !important; margin:5px !important; background-color: var(--c5) !important">Remove collaborators</button></a>-->
</div>
</div>


</div>

<div class="modal fade" id="modalnoOknoEkipa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-content-ekipa"> 
            <div class="modal-header modal-header-ekipa">
                <h5 class="modal-title" id="exampleModalLabel" style="padding-top=10px; !important">Add project collaborators</h5>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">
                <div class="card collaborator-card">
                    <br>

                </div>
                
                <!-- FORM START -->                
                <!--<form id="dodajEkipo" method="post">

                    Ko izbereš userje in pa njihove naloge
                    

                </form>   zaključek forma je na koncu gumba!-->
                <div style="padding: 10px !important">
                      <button type="submit" class="btn submit-form" style="background-color: var(--c5)!important; float: right; !important">Save changes</button>
                </div>
                <!-- FORM STOP -->
            </div>
        </div>
        <br>
        <div class="modal-content modal-content-ekipa">
            <div class="modal-header modal-header-ekipa">
                <h5 class="modal-title" id="exampleModalLabel">Available collaborators</h5>
            
            </div>
        </div>
    </div>
</div>