<!-- {{!-- Product backlog / sprints zavihka --}}

<div class="hbses">

<h3>{{name}}</h3>


<div class="">
  <ul class="nav nav-tabs">

    <li class="active"><a class="nav-link" data-toggle="tab" href="#backlog" onclick="location.href='#backlog'">Product backlog</a></li>
    <li><a class="nav-link" data-toggle="tab" href="#sprints" onclick="location.href='#sprints'">Sprints</a></li>

  </ul>

  <div class="tab-content">
    <div id="backlog" class=" active tab-pane fade">
      <h3>Product backlog</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="sprints" class="tab-pane fade">
      {{!---prikaz dodanih sprintov, ki se jih pridobi iz apija --}}
      {{#each sprints as |sprint|}}
          <div class="card projekt-card col-sm-3" style="margin: 20px !important;
          background-color: var(--c4); border: 4px solid var(--c4) !important;">
            <div class="card-body">
              <h4 style="color: white">Sprint {{sprint.number}}</h4>
              <p>{{sprint.startDate}}-{{sprint.endDate}}</p>
              <br>
              <p>Sprint size:</p>
              <p>{{sprint.sprintSize}}</p>
              <p></p>
            </td>

            </div>
          </div>
        {{!-- gumba za edit projectov --}}
      {{/each}}
      {{#if admin}}
        {{!-- gumb za dodajanje novega sprinta - se poka탑e le 훾e je prijavljen admin--}}
        <div><a href="/sprint-new/{{id}}"><button id="" type="button" class="btn btn-dark dodaj-uporabnika fixed-bottom float-right"><i class="fa-solid fa-plus dodaj"></i></button></a></div><br>
      {{/if}}
    </div>

  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    var anchorHash = window.location.href.toString();
    if( anchorHash.lastIndexOf('#') != -1 ) {
        anchorHash = anchorHash.substr(anchorHash.lastIndexOf('#'));
        if( $('a[href="'+ anchorHash +'"]').length > 0 ) {
            $('a[href="'+ anchorHash +'"]').trigger('click');
        }
    }
});
</script>



</div> -->

{{!-- Product backlog / sprints zavihka --}}

<div class="hbses">

<h3>{{name}}</h3>


<div class="">
  <ul class="nav nav-tabs">

    <li class="active"><a class="nav-link" data-toggle="tab" href="#backlog" onclick="location.href='#backlog'">Product backlog</a></li>
    <li><a class="nav-link" data-toggle="tab" href="#sprints" onclick="location.href='#sprints'">Sprints</a></li>

  </ul>

  <div class="tab-content">
    <div id="backlog" class=" active tab-pane fade">
      {{!--<h3>Product backlog</h3>--}}
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div id="sprints" class="tab-pane fade">
      <br>
      {{!--<h3>Sprints</h3>--}}
      <br>
      {{!---prikaz dodanih sprintov, ki se jih pridobi iz apija --}}
      {{#each sprints as |sprint|}}
          <div class="card projekt-card col-sm-3" style="margin: 20px !important;
          background-color: var(--c5); border: 4px solid var(--c5) !important;">
            <div class="card-body">
              <h2 align="center" style="color: white"><b>Sprint {{number}}</b></h2>
              <small>From:</small>
              <h5 class ="cut_text">{{sprint.startDate}}</h5>
              <small>To:</small>
              <h5 class ="cut_text">{{sprint.endDate}}</h5>
              <br>
              <br>
              <b style="font-size:1.4vw">Sprint size:&nbsp;&nbsp;&nbsp;</b>
              <span style="color: #023047;font-size:1.2vw;"><b>{{sprint.sprintSize}}</b></span>

            </div>
          </div>

        {{!-- gumba za edit projectov --}}
      {{/each}}
      {{#if admin}}
        {{!-- gumb za dodajanje novega sprinta - se poka탑e le 훾e je prijavljen admin--}}
        <div><a href="/sprint-new/{{id}}"><button id="" type="button" class="btn btn-dark dodaj-uporabnika fixed-bottom float-right"><i class="fa-solid fa-plus dodaj"></i></button></a></div><br>
      {{/if}}
    </div>

  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    var anchorHash = window.location.href.toString();
    if( anchorHash.lastIndexOf('#') != -1 ) {
        anchorHash = anchorHash.substr(anchorHash.lastIndexOf('#'));
        if( $('a[href="'+ anchorHash +'"]').length > 0 ) {
            $('a[href="'+ anchorHash +'"]').trigger('click');
        }
    }
});
</script>



</div>
