
<div class="hbses">

<h3>Sprint backlog</h3>



<div class="row" style="padding-top:">

  {{!-- additional project infos --}}
  <div class="col-lg-2" style="padding-top: 20px !important; padding-right: 20px !important">

  {{!-- gumb za nazaj na project --}}
    <div  style="padding-bottom: 20px !important">
          <a href="/project/{{id}}#sprints"><button class="btn submit-form btn-dark" style="background-color: var(--c5) !important; width: 100% !important; text-align: center !important; color: var(--c3) !important; border: 3px var(--c3) solid !important; box-shadow: rgba(0, 0, 0, 0.24) 6px 6px 7px;">Go to Sprints</button></a>
    </div>
    <!-- legenda -->
    <div class="card account-info" style="background-color: var(--c6) !important; margin-bottom: 20px !important;">
      <div class="card-body">
        <div style="margin-bottom: 15px !important;"><button  id="taskOwner_circle" class="btn" style="margin-left: -3px !important; background-color: var(--dark-charcoal) !important; height: 28px !important; width: 28px !important; margin-top: -3px !important; margin-right: 5px !important; font-size: 12px !important;" disabled>U</button><span style="font-size: 13px !important; padding-right: 6px !important; color: var(--c3) !important;">Unassigned</span></div>
        <div style="margin-bottom: 15px !important;"><button  id="taskOwner_circle" class="btn" style="margin-left: -3px !important; background-color: var(--c4) !important; height: 28px !important; width: 28px !important; margin-top: -3px !important; margin-right: 5px !important; font-size: 12px !important;" disabled>A</button><span style="font-size: 13px !important; padding-right: 6px !important; color: var(--c3) !important;">Assigned</span></div>
        <div style="margin-bottom: 15px !important;"><i class="fa-solid fa-circle-check fa-xl" style="color: var(--c1) !important; padding-right: 5px !important;"></i><span style="font-size: 13px !important; padding-right: 6px !important; color: var(--c3) !important;">Finished</span></div>
        <div><i class="fa-solid fa-person-digging fa-lg" style="color: var(--c4) !important;padding-left: 2px !important; padding-right: 5px !important;"></i><span style="font-size: 13px !important; padding-right: 6px !important; color: var(--c3) !important;">In progress</span></div>
      </div>
    </div>
    {{!-- par informacij o projektu --}}
    <div class="card account-info" style="background-color: var(--c4) !important;">
                <div class="card-body">
                    <h5 class="card-title">Additional project information</h5>
                        {{!-- info --}}
                        <p class="card-text"><span style="color: var(--c2) !important;">Project description:</span>
                        <br>
                        {{info}}
                        </p>
                        {{!-- produktni vodja --}}
                        <p class="card-text"><span style="color: var(--c2) !important;">Product owner:</span>
                        <br>
                        {{#each productManagers as |productManager|}}

                          <button  id="collaborator_circle" title="{{productManager.username}}" type="button" data-toggle="modal" data-proj="{{../id}}" data-id="{{collaborator._id}}" data-usr="{{collaborator.username}}" data-role="{{collaborator.project_role}}"
                           class="btn btn-dark open-collaboratorEdit" style="background-color: var(--c1) !important; ">
                          {{firstLetterOfUsername productManager.username}}
                          </button>

                        {{/each}}

                        </p>
                        {{!-- scrum master --}}
                        <p class="card-text"><span style="color: var(--c2) !important;">Scrum master:</span>

                        {{#each scrumMasters as |scrumMaster|}}
                          <br>
                          <button  id="collaborator_circle" title="{{scrumMaster.username}}" type="button" data-toggle="modal" data-proj="{{../id}}" data-id="{{collaborator._id}}" data-usr="{{collaborator.username}}" data-role="{{collaborator.project_role}}"
                           class="btn btn-dark open-collaboratorEdit" style="background-color: var(--c5) !important; ">
                          {{firstLetterOfUsername scrumMaster.username}}
                          </button>
                        {{/each}}

                        </p>
                        {{!-- team members --}}
                        <p class="card-text"><span style="color: var(--c2) !important;">Team members:</span>

                        {{#each teamMembers as |teamMember|}}
                          <br>
                          <button  id="collaborator_circle" title="{{teamMember.username}}" type="button" data-toggle="modal" data-proj="{{../id}}" data-id="{{collaborator._id}}" data-usr="{{collaborator.username}}" data-role="{{collaborator.project_role}}"
                           class="btn btn-dark open-collaboratorEdit" style="background-color: var(--c6) !important; ">
                          {{firstLetterOfUsername teamMember.username}}
                          </button>
                        {{/each}}

                        </p>



                </div>

            </div>
  </div>

    <div class="col-lg-10" style="margin-top: 20px !important">

        <!-- kartice v sprintu -->
        {{#each userStories as |story|}}
        {{#if (InSprint (json story.allSprints) ../numberOfSprint)}}

        <div class="card projekt-publication" style="border: 3px solid (--varc2) !important; background-color: var(--c6) !important; margin-top: 5px !important; margin-left: 50px !important; margin-bottom: 25px !important;">

          <h5 style="padding: 10px !important;"><i>{{story.name}}</i></h5>

          <!-- oznaka vrstic z urami -->
          {{#if (taskNone story.subtasks)}}
          <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1" style="font-size: 10px !important; padding: 0px !important; margin: 0px !important;">
              <p style="text-align:center;"><b>Hours done</b></p>
            </div>
            <div class="col-lg-1" style="font-size: 10px !important; padding: 0px !important; margin: 0px !important;">
              <p style="text-align:center;"><b>Hours to do</b></p>
            </div>
          </div>
          {{/if}}

          <!-- row: done/not done + task + assigned & in progress -->
          <div class="row">

              {{#each story.subtasks as |subtask|}}

              <div class="col-lg-1">
                <p style="padding: 0px !important; padding-top: 5px!important; padding-left: 10px!important; margin-bottom: 25px !important">{{taskIndex @index}}</p>
              </div>


              <!-- Assigned & zna훾ke -->
              <div class="col-lg-1" style="margin: 0px !important; padding: 0px !important;">
                {{#if subtask.subtaskOwnerUsername}}
                <button  id="taskOwner_circle" title="{{subtask.subtaskOwnerUsername}}"  class="btn" style="pointer-events: auto; background-color: var(--c4) !important; height: 35px !important; width: 35px !important; margin-top: -3px !important;" disabled>{{firstLetterOfUsername subtask.subtaskOwnerUsername}}</button>
                <!-- mo탑nosti za zna훾ke - tk da je v else brez zna훾ke? Uredimo, ko se bo logiralo ure; pa finished, ko je klukca v checkboxu na tasku v zgodbi-->
                {{#if subtask.finished}}
                <i class="fa-solid fa-circle-check fa-2xl" style="color: var(--c1) !important; padding-left: 11px !important;"></i>
                {{else}}
                <i class="fa-solid fa-person-digging fa-xl" style="color: var(--c4) !important; padding-left: 14px !important;"></i>
                {{/if}}
                <!-- Unassigned -->
                {{else}}
                <button  id="taskOwner_circle" class="btn" style="background-color: var(--dark-charcoal) !important; height: 35px !important; width: 35px !important; margin-top: -3px !important;" disabled>U</button>
                {{/if}}
              </div>

              <div class="col-lg-8">
                <p style="padding: 0px !important; padding-top: 5px!important; padding-left: 5px!important; margin-bottom: 25px !important">{{subtask.name}}</p>
              </div>

              <div class="col-lg-1">
                <p style="padding: 0px !important; padding-top: 5px!important; margin-bottom: 25px !important; text-align: center;">{{pridobiUre subtask.allWorkingSeconds}}</p>
              </div>

              <div class="col-lg-1">
                <p style="padding: 0px !important; padding-top: 5px!important; margin-bottom: 25px !important; text-align: center;">{1}</p>
              </div>

            {{/each}}
          </div>
          {{#if (taskNone story.subtasks)}}
          <div>
            <p style="margin-right: 40px !important; float: right">Hours spent on this User story:  <b>{{pridobiUre story.allWorkingSeconds}}</b></p>
          </div>
          {{/if}}

        </div>
        {{/if}}
    {{/each}}

  </div>
  </div>
