<div class="hbses">

<!-- modalno okno, če smo pozabili ustaviti timer ob logout  -->



    <div class="projekt-time" style="width:800px; margin:0 auto; margin-top:20px;" >


<div class="row">
  <div class="col">
        <div style="width: 100%px; margin-left:20px;">
            <div>
                <div style="font-size:20px;color:#023047;text-align:left">
                <div style="font-size:20px;color:#023047">
                Task:
                <b style="color:white;">{{name}}</b>
                </div>
                <div style="font-size:20px;color:#023047">
                From user story:
                <b style="color:white;">{{userStoryName}}</b>
                </div>
                <div style="font-size:20px;color:#023047">
                Hours:
                <b style="color:white;">{{taskEstimatedHours}}</b>
                </div>
                </div>
            </div>
</div>
</div>
<div class="col" style="margin-left: 330px; margin-top: 50px">
            <div class="timer-display-id">
              {{#if isActive}}
              <button class ="start-button" id="start-timer" onclick="start()" disabled>Start </button>
              <button class ="start-button" id="stop-timer" onclick="stop()">Stop  </button>
              {{else if anotherActive}}
              <button class ="start-button" id="start-timer" onclick="start()" disabled>Start </button>
              <button class ="start-button" id="stop-timer" onclick="stop()" disabled>Stop  </button>
              {{else}}
              <button class ="start-button" id="start-timer" onclick="start()">Start </button>
              <button class ="start-button" id="stop-timer" onclick="stop()">Stop  </button>
              {{/if}}
            </div>
        </div>

        <script one="{{taskId}}" two="{{projectId}}" three="{{storyId}}">
            var taskId = document.currentScript.getAttribute('one');
            var projectId = document.currentScript.getAttribute('two');
            var storyId = document.currentScript.getAttribute('three');
            const startBtn = document.querySelector("#start-timer");

            let counter = 0;
            let interval;

            function stop() {
              clearInterval(interval);
              startBtn.disabled = false;
              //counter vsebuje pretečen čas v sekundah, to pošljem na api, da se shrani v working hours pri današnjem datumu
              console.log("tukaj bi prisel taskID")
              console.log(interval)
              console.log(projectId)
              console.log(storyId)
              console.log(taskId)
              //se delo zaključi, pošlje se stop time v datumu na strežnik, kjer se zračuna čas dela, se zapiše v bazo in nato prikaže in še označi da ni več aktivna
              var now = new Date();
              location.href = "/time-log/save-work-hours/stop-task/" + projectId + '/' + storyId + '/' +  taskId +  '?endDate=' + now;
            }

            function convertSec(cnt) {
              let sec = cnt % 60;
              let min = Math.floor(cnt / 60);
              if (sec < 10) {
                if (min < 10) {
                  return "0" + min + ":0" + sec;
                } else {
                  return min + ":0" + sec;
                }
              } else if ((min < 10) && (sec >= 10)) {
                return "0" + min + ":" + sec;
              } else {
                return min + ":" + sec;
              }
            }

            function start() {
              //pošljem start time na server
              var now = new Date();
              location.href = "/time-log/save-work-hours/start-task/" + projectId + '/' + storyId + '/' +  taskId + '?startDate=' + now;
              // startBtn.disabled = true;
              // interval = setInterval(function() {
              //   ret.innerHTML = convertSec(counter++); // timer start counting here...
              // }, 1000);
            }
        </script>

</div>

        <br>
        <br>
        <div style="float: left; margin-right: 10px; width: 20%;">
            <div style="color:#023047; font-size:20px; text-align:center;">Date</div>
            <br>
            {{#each datumi}}
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">{{formatirajDatum this.[0]}}</div>
            {{/each}}
        </div>


        <div style="float: left; margin-right: 10px; width: 300px;">
            <div style="color:#023047; font-size:20px; text-align:center;">Worktime [hours]</div>
            <br>
            {{#each datumi}}
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">{{formatirajSekunde this.[1]}}</div>
            {{/each}}

        </div>



        <div style="overflow: hidden; width: 300px;">
            <div style="color:#023047; font-size:20px; text-align:center;">Future Estimation [hours]</div>
            <br>
            {{#each datumi}}
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">{{formatirajSekunde this.[2]}}</div>
            {{/each}}

        </div>


    </div>
</div>
