<div class="hbses">


{{!-- uporabniki -> dinamično iz baze s pomočjo REST API --}}

<div class="row">
  <div class="col-sm-3" style="padding-bottom: 30px !important">
    <div class="card account-info" style="background-color: var(--c3) !important;">
      <div class="card-body">
        <h5 class="card-title" style="color: var(--c5) !important;">User information</h5>
        <p class="card-text"><span>Name and surname:</span>
          <br>
          {{name}} {{surname}}
          
        </p>
        <p class="card-text"><span>Username:</span>
          <br>
          {{username}}
        </p>
        <p class="card-text"><span>Email:</span>
          <br>
          {{email}}
        </p>
        <p class="card-text"><span>Role:</span>
          <br>
          {{role}}
        </p>


        
        
      </div>
    </div>
  </div>



  {{!-- vnosna polja za spremembo gesla s strani admina --}}
 <div class="col-sm-9">
        <div class="card user-add">
        <div class="card-body">
            <h5 class="card-title">Edit username</h5>    

                        <form id="posodobiUporabnika" method="post">
                          
                          
                          <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input class="form-control input-form" name="username" placeholder="{{username}}" value="{{username}}" id="username" aria-describedby="emailHelp">

                          </div>

                          {{#if napaka}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">Account with this username and / or email already exists!</span>
                          </div>
                        {{/if}}
                        
                        <div>
                        <button type="submit" class="btn submit-form">Submit</button>
                        </div>

                        </form>
                        </div>
              </div>
        
             </div>
       </div>
        
                        
                  


</div