
<div>
<h3>Users</h3>
</div>
{{!-- uporabniki -> dinamično iz baze s pomočjo REST API --}}
<div class="table-responsive users-table">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
      <th scope="col"></th>
  </thead>
  <tbody>
    
    <tr>
      <th scope="row">{{name}}</th>
      <td>{{surname}}</td>
      <td>{{username}}</td>
      <td>{{email}}</td>
      <td>{{role}}</td>

      {{!-- gumba za edit in delete uporabnikov --}}
      <td><a href="/users/{{_id}}"></a><button type="button" class="btn btn-dark">Edit user</button></a></td>
      <td><a href=""><button type="button" class="btn btn-dark">Delete user</button></a></td>
    </tr>
  </tbody>
</table>
</div>