
<div class="hbses">
<h3>Users</h3>

{{!-- uporabniki -> dinamično iz baze s pomočjo REST API --}}
<div class="table-responsive users-table">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each users as |user|}}
    {{#if user.isNotDeleted}}

    {{usernameC}}
    <tr>
      
      <td class="bold-item">{{@index}}</td>
      <th scope="row" class="bold-item">{{user.name}}</th>
      <td class="bold-item">{{user.surname}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>

      {{!-- gumba za edit in delete uporabnikov (ce je admin prjavljen nima gumba pr seb) --}}
      {{#if (isTheSame user.username usernameC)}}
      
      <td><a href="/users/{{user._id}}"><button type="button" 
      class="btn uredi-uporabika btn-dark btn-small " style="border-radius: 15px !important; background-color: var(--c5) !important; border: 0px !important">Edit user </button></a></td>
      {{/if}}
      
    </tr>
    {{/if}}
    {{/each}}
  </tbody>
</table>
</div>

{{!-- gumb za dodajanje novega uporabnika --}}

<div><a href="/user-new"><button id="" type="button" class="btn btn-dark dodaj-uporabnika fixed-bottom float-right"><i class="fa-solid fa-plus dodaj"></i></button></a></div><br>


</div>
