
<div>
<h3>Users</h3>
</div>
{{!-- uporabniki -> dinamično iz baze s pomočjo REST API --}}
<div class="table-responsive users-table">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      
  </thead>
  <tbody>
    
    <tr>
      <th scope="row">{{name}}</th>
      <td>{{surname}}</td>
      <td>{{username}}</td>
      <td>{{email}}</td>
      <td>{{role}}</td>
      
    </tr>
  </tbody>
</table>
</div>

<div>
  {{!-- vnosna polja za spremembo uporabniskih podatkov s strani admina --}}
  <form id="posodobiUporabnika" method="" style="padding-top: 60px  !important;">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input class="form-control" name="name" id="name" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label">Surname</label>
    <input class="form-control" name="surname" id="surname" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input class="form-control" name="username" id="username" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" name="email" id="email" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input class="form-control" name="password" id="password" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label">Role</label>
    <input class="form-control" name="role" id="role" aria-describedby="emailHelp">
    
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{{!-- gumb za izbris uporabnika --}}
<div><button id="izbris" type="button" data-toggle="modal"
                data-target="#modalnoOknoIzbrisi" class="btn btn-dark">Delete user</button></div>

{{!-- modalno okno za potrditev izbrisa uporabika --}}
<div class="modal fade" id="modalnoOknoIzbrisi" tabindex="-1" role="dialog"
                   aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                     <div class="modal-content">
                      <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Potrditev</h5>
                         <button type="button" class="close" data-dismiss="modal"
                           aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                         </button>
                      </div>
                      <div class="modal-body">
                         <p>
                           Ste prepričani da želite izbrisati tega uporabnika?
                         </p>
                         <p class="text-secondary">
                           <small>Če izbrišete uporabnika, bo ta trajno odstranjen iz podatkovne baze.</small>
                         </p>
                      </div>
                      <form>
                      <div class="modal-footer">
                         <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Prekliči</button>
                         <button type="submit" class="btn btn-primary btn-lg" onclick="brisanje()">Potrdi</button>
                         </form>
                      </div>
                     </div>
                   </div>
                 </div>