
<div class="hbses">
<h3>Users</h3>

{{!-- uporabniki -> dinamično iz baze s pomočjo REST API --}}
<div class="table-responsive users-table">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col"></th>

  </thead>
  <tbody>
    {{#each users as |user|}}
    <tr>
      <th scope="row">{{user.name}}</th>
      <td>{{user.surname}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>

      {{!-- gumba za edit uporabnikov --}}

      <td><a href="/users/{{user._id}}"><button type="button" class="btn btn-dark">Edit user</button></a></td>

    </tr>
    {{/each}}
  </tbody>
</table>
</div>

{{!-- gumb za dodajanje novega uporabnika + modalno okno za dodajanje novega uporabnika --}}

<div><button id="izbris" type="button" data-toggle="modal"
                data-target="#modalnoOknoDodaj" class="btn btn-dark">Add new user</button></div><br>
<div class="modal fade" id="modalnoOknoDodaj" tabindex="-1" role="dialog"
                   aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                     <div class="modal-content">
                      <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Add new user</h5>
                         <button type="button" class="close" data-dismiss="modal"
                           aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                         </button>
                      </div>
                      <div class="modal-body">

                        <form id="posodobiUporabnika" method="post" style="padding-top: 60px  !important;">
                          <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input class="form-control" name="name" id="name" aria-describedby="emailHelp" required>

                          </div>
                          <div class="mb-3">
                            <label class="form-label">Surname</label>
                            <input class="form-control" name="surname" id="surname" aria-describedby="emailHelp" required>

                          </div>
                          <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input class="form-control" name="username" id="username" aria-describedby="emailHelp" required>

                          </div>
                          <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" name="email" id="email" type="email" aria-describedby="emailHelp" required>

                          </div>
                          <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input class="form-control" name="password" id="password" type="password" pattern=".{12,128}" title="The password must be at least 12 characters long!" aria-describedby="emailHelp" required>
                            <input id="prikazi" type="checkbox" onClick="myFunction()">Show Password
                            <script>
                              function myFunction() {
                                var x = document.getElementById("password");
                                if (x.type === "password") {
                                  x.type = "text";
                                } else {
                                  x.type = "password";
                                }
                              }
                              </script>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Role</label>
                            <select name="role" id="role">
                              <option value="user">User</option>
                              <option value="admin">Admin</option>

                            </select>

                          </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        </div>

                      </div>

                     </div>
                   </div>
                 </div>
</div>
