
<div>
<h3>Users</h3>
</div>
{{!-- uporabniki -> dinamično iz baze s pomočjo REST API --}}
<div class="table-responsive users-table">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>

  </thead>
  <tbody>

    <tr>
      <th scope="row">{{name}}</th>
      <td>{{surname}}</td>
      <td>{{username}}</td>
      <td>{{email}}</td>
      <td>{{role}}</td>

    </tr>
  </tbody>
</table>
</div>

<div>
  {{!-- vnosna polja za spremembo uporabniskih podatkov s strani admina --}}
  <div><button id="posodobitev" type="button" data-toggle="modal"
                data-target="#modalnoOknoPosodobi" class="btn btn-dark">Edit user</button></div><br>

<div class="modal fade" id="modalnoOknoPosodobi" tabindex="-1" role="dialog"
                   aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                     <div class="modal-content">
                      <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Update user settings</h5>
                         <button type="button" class="close" data-dismiss="modal"
                           aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                         </button>
                      </div>
                      <div class="modal-body">

                        <form id="posodobiUporabnika" method="post" style="padding-top: 60px  !important;">
                          <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input class="form-control" name="name" placeholder="{{name}}" value="{{name}}" id="name" aria-describedby="emailHelp">

                          </div>
                          <div class="mb-3">
                            <label class="form-label">Surname</label>
                            <input class="form-control" name="surname"  placeholder="{{surname}}" value="{{surname}}" id="surname" aria-describedby="emailHelp">

                          </div>
                          <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input class="form-control" name="username" placeholder="{{username}}" value="{{username}}" id="username" aria-describedby="emailHelp">

                          </div>
                          <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" name="email" placeholder="{{email}}" value="{{email}}" id="email" aria-describedby="emailHelp">

                          </div>

                          <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input class="form-control" name="password" id="password" value="{{password}}" type="password"  pattern="(?=.{12,128})" title="The password must be at least 12 characters long!" aria-describedby="emailHelp">
                            <input id="prikazi" value="{{password}}" type="checkbox" onClick="myFunction()">Show Password
                            <script>
                              function myFunction() {
                                var x = document.getElementById("password");
                                if (x.type === "password") {
                                  x.type = "text";
                                } else {
                                  x.type = "password";
                                }
                              }
                              </script>
                          </div>
                         
                          <div class="mb-3">
                            <label class="form-label">Role</label>
                            <select name="role" id="role" value="{{role}}">
                              <option value="user">User</option>
                              <option value="supervisor">Supervisor</option>
                              <option value="admin">Admin</option>

                            </select>

                          </div>
                        <button type="submit"id="posodobiUporabnika" class="btn btn-primary btn-lg" onclick="posodobiUserja()">Potrdi</button>

                        </form>
                        </div>

                      </div>
                      <form>
                      <div class="modal-footer">


                         </form>
                      </div>
                     </div>
                   </div>
                 </div>

{{!-- gumb za izbris uporabnika --}}
<div><a href="/users/{{_id}}/izbrisi"><button id="izbris" type="button" data-toggle="modal"
                data-target="#modalnoOknoIzbrisi" class="btn btn-dark">Delete user</button></a></div>

{{!-- modalno okno za potrditev izbrisa uporabika --}}

{{!-- <div class="modal fade" id="modalnoOknoIzbrisi" tabindex="-1" role="dialog"
                   aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                     <div class="modal-content">
                      <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Deleting existing user</h5>
                         <button type="button" class="close" data-dismiss="modal"
                           aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                         </button>
                      </div>
                      <div class="modal-body">
                        <form id="izbrisiUporabnika" method="post">
                         <p>
                           Ste prepričani da želite izbrisati tega uporabnika?
                         </p>
                         <p class="text-secondary">
                           <small>Če izbrišete uporabnika, bo ta trajno odstranjen iz podatkovne baze.</small>
                         </p>
                      </div>
                      <button type="submit" class="btn btn-primary btn-lg" onClick="izbrisiUserja()">Potrdi</button>

                      <div class="modal-footer">



                      </div>
                      </form>
                     </div>
                   </div>
                 </div>
                  --}}
