<div class="hbses">


{{!-- uporabniki -> dinamično iz baze s pomočjo REST API --}}

<div class="row">
  <div class="col-sm-3" style="padding-bottom: 30px !important">
    <div class="card account-info" style="background-color: var(--c3) !important;">
      <div class="card-body">
        <h5 class="card-title" style="color: var(--c5) !important;">User information</h5>
        <p class="card-text"><span>Name and surname:</span>
          <br>
          {{name}} {{surname}}
          
        </p>
        <p class="card-text"><span>Username:</span>
          <br>
          {{username}}
        </p>
        <p class="card-text"><span>Email:</span>
          <br>
          {{email}}
        </p>
        <p class="card-text"><span>Role:</span>
          <br>
          {{role}}
        </p>


        
        
      </div>
    </div>
  </div>



  {{!-- vnosna polja za spremembo uporabniskih podatkov s strani admina --}}
 <div class="col-sm-9">
        <div class="card user-add">
        <div class="card-body">
            <h5 class="card-title">Edit user</h5>    

                        <form id="posodobiUporabnika" method="post">
                        
                          <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input class="form-control input-form" name="name" placeholder="{{name}}" value="{{name}}" id="name" aria-describedby="emailHelp" required>
                            

                          </div>
                          <div class="mb-3">
                            <label class="form-label">Surname</label>
                            <input class="form-control input-form" name="surname"  placeholder="{{surname}}" value="{{surname}}" id="surname" aria-describedby="emailHelp" required>

                          </div>
                          
                          <div class="mb-3">
                            <label class="form-label">Username</label>
                            <div class="row" style="padding: 0px !important">
                            <div class="col-lg-10"><input class="form-control input-form" style="background-color: rgb(196, 196, 196) !important" name="" placeholder="{{username}}" value="{{username}}" id="" aria-describedby="emailHelp" readonly></div>
                            <div class="col-lg-2"><a href="/users/{{_id}}/edit-username" style=" color: var(--c3) !important; height: 50px !important; width: 100% !important;">Change username</a></div></div>
                          </div>

                          <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control input-form" name="email"  placeholder="{{email}}" value="{{email}}" id="email" aria-describedby="emailHelp" required>

                          </div>

                          <div class="mb-3">
                            <label class="form-label">Role</label>
                            <select name="role" id="role" value="{{role}}">
                              <option value="user">User</option>
                              <option value="admin">Admin</option>

                            </select>

                          </div>
                          
                          {{#if napaka}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">Account with this username and / or email already exists!</span>
                          </div>
                        {{/if}}
                        
                        <button type="submit" class="btn submit-form">Submit</button>

                        </form>
                        </div>
        </div>
        {{!-- gumb za izbris uporabnika --}}
  <div style="padding-top: 20px !important; padding-right: 10px !important"><a href="/users/{{_id}}/izbrisi"><button id="izbris" type="button" class="btn btn-dark submit-form" style="background-color: var(--c4) !important;">Delete user</button></a>
<a href="/users/{{_id}}/edit-password" style=><button id="izbris" type="button" class="btn btn-dark submit-form" style="background-color: var(--c5) !important;">Edit password</button></a></div>

  </div>
  
        </div>
        
                        
                  
</div>

</div