<h3>Users</h3>

<div class="row users-row">
<p class="user-item" style="padding-left: 30px !important">Name</p>
<p class="user-item">Surname</p>
<p class="user-item">Email</p>
<p class="user-item">Username</p>
<p class="user-item">Role</p>

</div>


{{!-- uporabniki -> dinamiÄno (trenutno iz app_server/models/users.json) --}}

<div class="">
{{#each users as |user|}}
  <div class="" style="border-color: black;">
      <div class="row ">
      <p class="card-text user-card-item" style="padding-left: 30px !important">{{user.name}}</p>
      <p class="card-text user-card-item">{{user.surname}}</p>
      <p class="card-text user-card-item">{{user.username}}</p>
      <p class="card-text user-card-item">{{user.email}}</p>
      <p class="card-text user-card-item">{{user.role}}</p>
    </div>
    
  </div>
  {{/each}}
  </div>